<!DOCTYPE html>
<html>
<head>
  <title>公司注册及工商财税服务</title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="./index.html" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 80%;" src="../../../Public/image/banner/banner-hhbb.jpeg">
      </div>
      <div class="abstract">
        <h3></h3>
        <p>一家“好公司”就是一艘“好战舰”</p>
      </div>
      <div class="introduce am-g">
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 15个工作日</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 提供地址</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 代理记账</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="../../../Public/image/bar.png">{$product[0]['name']}
            <label class="am-checkbox">
              <input type="checkbox" value="" data-am-ucheck>
            </label>
          </h3>
        </div>
        <div class="pro-price">
          ￥4600元
        </div>
        <ol class="pro-info">
          <li>您自己提供一个真实有效的非住宅地址</li>
          <li>五证合一，领取社会统一信用代码证</li>
          <li>刻章（财务章、法人章、公章）</li>
          <li>勾选服务后，立即开通，工作人员会与您联系</li>
          <li>对接收集材料，提交网申，材料签字，领取执照刻章交付</li>
        </ol>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="../../../Public/image/bar.png">工商注册+地址1年+小规模代理记账1年  
            
          </h3>
        </div>
        <div style="font-size: 14px;" class="pro-price">
          ￥6500元 （下城区/江干区）
          <label class="am-checkbox">
              <input type="checkbox" value="" data-am-ucheck>
            </label>
            <div class="clear"></div>
        </div>
        <div style="font-size: 14px;" class="pro-price">
          ￥8600元 （西湖区）
          <label class="am-checkbox">
              <input type="checkbox" value="" data-am-ucheck>
            </label>
            <div class="clear"></div>
        </div>
        <div style="font-size: 14px;" class="pro-price">
          ￥6000元 （萧山区/余杭区）
          <label class="am-checkbox">
              <input type="checkbox" value="" data-am-ucheck>
            </label>
            <div class="clear"></div>
        </div>
        <ol class="pro-info">
          <li>您自己提供一个真实有效的非住宅地址</li>
          <li>五证合一，领取社会统一信用代码证</li>
          <li>刻章（财务章、法人章、公章）</li>
          <li>勾选服务后，立即开通，工作人员会与您联系</li>
          <li>对接收集材料，提交网申，材料签字，领取执照刻章交付</li>
        </ol>
      </div>
      <a href="" class="bottom-btn">
        立即开通
      </a>
    </section>

</body>
</html>