<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="#left-link" class="">
            <!-- <i class="fa fa-angle-left fa-lg"></i> -->
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 80%;" src="../../../Public/image/banner/banner-home.jpeg">
      </div>
      <div class="abstract">
        <h3>起航准备</h3>
        <p>鲸航跨境-扬帆出海之前做好充足的准备</p>
      </div>
      <div class="introduce am-g">
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 点击进入各项服务</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 鲸卡用户专享</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 多元化选择</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <ul class="service-list">
          <li>
            <a href="">
              <img src="../../../Public/image/icon/icon-gszc.png">
              <span>公司注册机工商财税服务</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../../Public/image/icon/icon-zscq.png">
              <span>知识产权：海内外商标及专利申请</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../../Public/image/icon/icon-vat.png">
              <span>欧洲VAT税号注册申请</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../../Public/image/icon/icon-kjsk.png">
              <span>跨境收款工具注册</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <ul class="service-list">
          <li>
            <a href="">
              <img src="../../../Public/image/icon/icon-upc.png">
              <span>UPC购买</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../../Public/image/icon/icon-kjfy.png">
              <span>专业跨境翻译</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../../Public/image/icon/icon-tpps.png">
              <span>专业跨境产品图片拍摄</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <ul class="service-list">
          <li>
            <a href="">
              <img src="../../../Public/image/icon/icon-yygj.png">
              <span>跨境电商运营工具：关键词、销量、ERP</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../../Public/image/icon/icon-hwcp.png">
              <span>海外评测资源</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../../Public/image/icon/icon-vps.png">
              <span>VPS网络支持</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../../Public/image/icon/icon-ppjz.png">
              <span>品牌建站</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="cut-line-bold"></div>
      <div class="tc">
        <img style="width: 60%;" src="../../../Public/image/logo.png">
      </div>
    </section>

</body>
</html>
<script type="text/javascript">
  console.log('{$name}')
</script>