
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="./index.html" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 80%;" src="../../../Public/image/banner/banner-hhbb.jpeg">
      </div>
      <div class="abstract">
        <h3>专业跨境翻译</h3>
        <p>专业跨境翻译，带来更高的流量与转化</p>
      </div>
      <div class="introduce am-g">
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 多语言支持</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 精准高效</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 提升转化率</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="../../../Public/image/bar.png">Listing翻译（预下单）
            <label class="am-checkbox">
              <input type="checkbox" value="" data-am-ucheck>
            </label>
          </h3>
        </div>
        <div class="pro-price">
          ¥0.00元／个/Listing
        </div>
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="../../../Public/image/bar.png">邮件／产品翻译（预下单）
            <label class="am-checkbox">
              <input type="checkbox" value="" data-am-ucheck>
            </label>
          </h3>
        </div>
        <div class="pro-price">
          ¥0.00元／个/Listing
        </div>
        <ol class="pro-info">
          <li>中译英／中译日／中译德／中译俄／中译西／中译法／中译意</li>
          <li>下单后，客服会跟您联系</li>
        </ol>
      </div>
      <a href="" class="bottom-btn">
        立即购买
      </a>
    </section>

</body>
</html>