
<!DOCTYPE html>
<html>
<head>
  <title>鲸航跨境-专注跨境服务</title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="{:U('hhbb/index')}" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 100%;" src="__PUBLIC__/image/banner/banner-hhbb.jpeg">
      </div>
      <div class="abstract">
        <h3>专业跨境翻译</h3>
        <p>专业跨境翻译，带来更高的流量与转化</p>
      </div>
      <div class="introduce am-g">
        <div class="introduce-list"><i class="fa fa-circle"></i> 多语言支持</div>
        <div class="introduce-list"><i class="fa fa-circle"></i> 精准高效</div>
        <div class="introduce-list"><i class="fa fa-circle"></i> 提升转化率</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">{$product[0]['name']}{$product[0]['sub_name']}
            <label class="am-checkbox">
              <input type="checkbox" data-price="{$product[0]['price']}" value="{$product[0]['sign']}" data-am-ucheck>
            </label>
          </h3>
        </div>
        <div class="pro-price">
          ¥{$product[0]['price']}元{$product[0]['unit']}
        </div>
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">{$product[1]['name']}{$product[1]['sub_name']}
            <label class="am-checkbox">
              <input type="checkbox" data-price="{$product[1]['price']}" value="{$product[1]['sign']}"  data-am-ucheck>
            </label>
          </h3>
        </div>
        <div class="pro-price">
          ¥{$product[1]['price']}元{$product[1]['unit']}
        </div>
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">{$product[2]['name']}{$product[2]['sub_name']}
            <label class="am-checkbox">
              <input type="checkbox" data-price="{$product[2]['price']}" value="{$product[2]['sign']}" data-am-ucheck>

            </label>
          </h3>
        </div>
        <div class="pro-price">
          ¥{$product[2]['price']}元{$product[2]['unit']}
        </div>
        <ol class="pro-info">
          <li>中译英／中译日／中译德／中译俄／中译西／中译法／中译意</li>
          <li>下单后，客服会跟您联系</li>
        </ol>
      </div>
      <div class="cut-line-bold"></div>
      <?php if(session('member') == 0){?>
        <form class="am-form pd2222">
          <fieldset>
            <div class="am-form-group">
              <label for="doc-ipt-email-1">联系方式 *</label>
              <input type="text" class="am-form-field am-input-sm" id="contact" placeholder="请填写手机号码">
            </div>
          </fieldset>
        </form>
      <?php }?>
      <div class="tc">
        <img style="width: 60%;" src="__PUBLIC__/image/logo.png">
      </div>
      <div class="bottom-btn">
        <a href="tel:15267038084" ><i class="fa fa-phone-square fa-lg"></i> 详情咨询</a>
        <a id="submit"><i class="fa fa-paper-plane fa-lg"></i>
          立刻开通
        </a>
      </div>
    </section>
<include file="Public/alert"/>
</body>
</html>

<script type="text/javascript">
  $('#submit').click(function(){
  

  var product_sign=""; 
  var price = 0;
  $(":checkbox:checked").each(function(){ 
    if(product_sign == ""){
      product_sign += $(this).val();
    }else{
      product_sign += ','+$(this).val()
    }
    price += parseFloat(($(this).data('price')));
  }) 
  var d = {};
  d.product_sign = product_sign;
  d.price = price;
  d.contact = $('#contact').val();
  d.service_sign = 'kjfy';
  if(d.product_sign == ''){
    $('#alertMsg').text('请至少选择一个产品');
    $('#myAlert').modal('toggle');
    return false;
  }
  if("<?=session('member')?>" == 0){
    d.type = 2;
    if(d.contact == ''){
      $('#alertMsg').text('请填写您的联系方式');
      $('#myAlert').modal('toggle');
      return false;
    }
  }
  $.ajax({  
    url: Api+'/order/confirm',// 跳转到 action  
    data:d,
    type:'post',   
    success:function(data) {  
      if(data.error == 0 ){  
        console.log(data);
        window.location.href = Api+"/Wxpay/index?id="+data.data;
      }else if(data.error == 202){
        $('#vipMsg').text(data.msg);
        $('#vipAlert').modal('toggle');
      }
      // $('#alertMsg').text(data.msg);
      // $('#myAlert').modal('toggle');
     },  
     error:function(data) {  
       console.log(data)
     }  
  }); 
})
</script>