<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="{:U('hhbb/index')}" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 100%;" src="__PUBLIC__/image/banner/banner-hhbb.jpeg">
      </div>
      <div class="abstract">
        <h3>跨境收款工具申请</h3>
        <p>收款工具，跨境电商Money轻松入袋</p>
      </div>
      <div class="introduce am-g">
        <div class="introduce-list"><i class="fa fa-circle"></i> 亚马逊开店必备</div>
        <div class="introduce-list"><i class="fa fa-circle"></i> 多站点可选</div>
        <div class="introduce-list"><i class="fa fa-circle"></i> 优惠费率</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">{$product[0]['name']}{$product[0]['sub_name']}
          </h3>
        </div>
        <ol class="pro-info">
          <li>支持美国、英国、欧洲、加拿大及日本，帮助卖家收回跨境电商平台的销售收入</li>
          <li>1%优惠费率适用于 美金、英镑或欧元转换成人名币，并且每笔转账金额不少于250元美金或等值其他货币</li>
          <li>个人账户：个人名义注册，只能结算到账户持有人的个人账户</li>
          <li>公司名义：公司名义注册，只能结算到公司账户名义下的公司账户</li>
          <li>点击鲸航跨境优惠注册链接，完成注册</li>
        </ol>
      </div>
      <a id="word_first" class="bottom-btn">
        注册 World First
      </a>


      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">{$product[1]['name']}{$product[1]['sub_name']}
          </h3>
        </div>
        <ol class="pro-info">
          <li>Amazon 1% 封顶费率；个人账户+企业账户都可注册</li>
          <li>当日到账、安全合规</li>
          <li>支持亚马逊北美、日本站；支持Wish 收款 </li>
          <li>点击鲸航跨境优惠注册链接，完成注册</li>
        </ol>
      </div>
      <a id="ping_pong" class="bottom-btn">
        注册Ping Pong
      </a>


      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3 class="flex-box">
            <span class="flex-1">
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">{$product[2]['name']}{$product[2]['sub_name']}
            </span>
            <span style="color: #00a2ff;position: relative;top: 5px;" class="tc">
              <i class="fa fa-star fa-lg"></i>
              <p style="font-size: 12px;">鲸航推荐</p>
            </span>
            
          </h3>
        </div>
        <ol class="pro-info">
          <li>绑定到Amazon账号收款，可以直接提现至国内任一银行卡</li>
          <li>申请资质：公司、个人均可申请</li>
          <li>每笔提款收取1%手续费，无汇损及其他费用。无最低起提金额 </li>
          <li>到帐时效：正常1-3个工作日，最快当日到帐</li>
          <li>提款方式：网上自主转账到对公账户或法人的私人账户</li>
          <li>收款币种：美元、欧元、英镑、日元</li>
        </ol>
      </div>
      <a id="cdcard" class="bottom-btn">
        注册CD卡
      </a>

    </section>
<include file="Public/alert"/>
</body>
</html>

<script type="text/javascript">
console.log('<?php echo session("member")?>')
$('#word_first').click(function(){
  if('<?php echo session("member")?>' == 0){
    $('#vipMsg').text('成为鲸航Vip用户才可操作哟');
    $('#vipAlert').modal('toggle');
  }else{
    window.location.href="https://www.worldfirst.com/cn/?default_source=SA025"
  }
})

$('#ping_pong').click(function(){
  if('<?php echo session("member")?>' == 0){
    $('#vipMsg').text('成为鲸航Vip用户才可操作哟');
    $('#vipAlert').modal('toggle');
  }else{
    window.location.href="https://www.currenciesdirect.com/zh/online-sellers?afflno=A09094-29&assetid=0000108"
  }
})

$('#cdcard').click(function(){
  if('<?php echo session("member")?>' == 0){
    $('#vipMsg').text('成为鲸航Vip用户才可操作哟');
    $('#vipAlert').modal('toggle');
  }else{
    window.location.href="https://www.currenciesdirect.com/zh/online-sellers?afflno=A09094-29&assetid=0000108"
  }
})

</script>