
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="./index.html" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 80%;" src="../../../Public/image/banner/banner-hhbb.jpeg">
      </div>
      <div class="abstract">
        <h3>品牌建站</h3>
        <p>一键开启跨境电商自建站</p>
      </div>
      <div class="introduce am-g">
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 跨境SOHO</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 平台卖家</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 品牌展示</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="../../../Public/image/bar.png">跨境电商品牌建站
            <label class="am-checkbox">
              <input type="checkbox" value="" data-am-ucheck>
            </label>
          </h3>
        </div>
        <div class="pro-price">
          ¥0.00元／个/咨询
        </div>
        <ol class="pro-info">
          <li>亚马逊品牌备案必须</li>
          <li>高级班商务版可选：2999元-4999元</li>
          <li>定制化开发，下单后，工作人员会与您联系</li>
        </ol>
      </div>
      <a href="" class="bottom-btn">
        立刻购买
      </a>
    </section>

</body>
</html>