
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="./index.html" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 80%;" src="__PUBLIC__/image/banner/banner-hhbb.jpeg">
      </div>
      <div class="abstract">
        <h3>UPC代买</h3>
        <p>商品统一代码，必不可少</p>
      </div>
      <div class="introduce am-g">
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 贴心的服务</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 省心省力</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 多平台使用</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">UPC
            <label class="am-checkbox">
              <input type="checkbox" value="" data-am-ucheck>
            </label>
          </h3>
        </div>
        <div class="pro-price">
          ￥0.5元/个
        </div>
        <ol class="pro-info">
          <li>每个UPC码只能使用一次</li>
          <li>提供数字码+条形码</li>
          <li>每个UPC码可在任何亚马逊站点使用，不限制类目</li>
          <li>一个SKU对应一个UPC码，一款手机，2种尺寸，5种配色，则需要10个UPC码</li>
          <li>下单后，工作人员会将UPC码发到您的<span style="color: red">邮箱</span></li>
        </ol>
      </div>
      <a href="" class="bottom-btn">
        立即开通
      </a>
    </section>

</body>
</html>