
<!DOCTYPE html>
<html>
<head>
  <title>鲸航跨境-专注跨境服务</title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="{:U('hhbb/index')}" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 100%;" src="__PUBLIC__/image/banner/banner-hhbb.jpeg">
      </div>
      <div class="abstract">
        <h3>UPC代买</h3>
        <p>商品统一代码，必不可少</p>
      </div>
      <div class="introduce am-g">
        <div class="introduce-list"><i class="fa fa-circle"></i> 贴心的服务</div>
        <div class="introduce-list"><i class="fa fa-circle"></i> 省心省力</div>
        <div class="introduce-list"><i class="fa fa-circle"></i> 多平台使用</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3 class="flex-box">
            <span class="flex-1">
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">{$product[0]['name']}{$product[0]['sub_name']}
            </span>
            <span style="position: relative;top: 5px;">
              <a id="minus" class="pd2222"><i class="fa fa-minus"></i></a>
              <span class="pd0202" style="font-size: 20px;" id="amount">1</span>
              <a id="plus" class="pd2222"><i class="fa fa-plus"></i></a>
            </span>
            <!-- <label class="am-checkbox">
              <input type="checkbox" value="" data-am-ucheck>
            </label> -->

          </h3>
        </div>
        <div class="pro-price">
          ￥{$product[0]['price']}元{$product[0]['unit']}
        </div>
        <ol class="pro-info">
          <li>每个UPC码只能使用一次</li>
          <li>提供数字码+条形码</li>
          <li>每个UPC码可在任何亚马逊站点使用，不限制类目</li>
          <li>一个SKU对应一个UPC码，一款手机，2种尺寸，5种配色，则需要10个UPC码</li>
          <li style="color: red">下单后，工作人员会将UPC码发到您的鲸航VIP注册邮箱</li>
        </ol>
      </div>
      <div class="cut-line-bold"></div>
      <div class="tc">
        <img style="width: 60%;" src="__PUBLIC__/image/logo.png">
      </div>
      <div class="bottom-btn">
        <a href="tel:15267038084" ><i class="fa fa-phone-square fa-lg"></i> 详情咨询</a>
        <a id="submit"><i class="fa fa-paper-plane fa-lg"></i>
          立即购买
        </a>
      </div>
    </section>
<include file="Public/alert"/>
</body>
</html>
<script type="text/javascript">
var price = '<?php echo $product[0]["price"]?>';
var amount = 1;
$('#minus').click(function(){
  if(amount>1){
    amount--;
  }
  $('#amount').text(amount);
})

$('#plus').click(function(){
    amount++;
  $('#amount').text(amount);
})

$('#submit').click(function(){
  var d = {}; 
  d.product_sign = 'upc_1';
  d.price = amount*price;
  d.service_sign = 'upc';
  d.note = amount+'个';
  console.log(d);
  $.ajax({  
    url: Api+'/order/confirm',  
    data:d,
    type:'post',   
    success:function(data) {  
      if(data.error == 0 ){  
        console.log(data);
        window.location.href = Api+"/wxpay/index?id="+data.data;
      }else if(data.error == 202){
        $('#vipMsg').text(data.msg);
        $('#vipAlert').modal('toggle');
      }
      // $('#alertMsg').text(data.msg);
      // $('#myAlert').modal('toggle');
     },  
     error:function(data) {  
       console.log(data)
     }  
  }); 
})
</script>