<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="{:U('hhbb/index')}" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 80%;" src="__PUBLIC__/image/banner/banner-hhbb.jpeg">
      </div>
      <div class="abstract">
        <h3>欧洲VAT税号注册申请</h3>
        <p>欧洲市场巨大，入驻亚马逊欧洲站必不可少</p>
      </div>
      <div class="introduce am-g">
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 欧洲站必须</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> VAT是增值税简称</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> VAT号码唯一</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">英国VAT（申请+申报+英国地址费）
            <label class="am-checkbox">
              <input type="checkbox" value="" data-am-ucheck>
            </label>
          </h3>
        </div>
        <div class="pro-price">
          ￥6500元
        </div>
        <ol class="pro-info">
          <li>单独注册 个人或者公司都可以</li>
          <li>包含一年单独申报费用</li>
          <li>第一年免除英国地址费</li>
          <li>一个VAT号码不能在多个Amazon / Ebay 账户上使用</li>
          <li>下单后，工作人员会与您联系提交相应的申请材料</li>
          <li>申请材料：营业执照、身份证／护照、户口本／房产证／银行
      卡账单／信用卡账单等任意2-3项</li>
        </ol>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">德国VAT（申请+申报+德国地址费）
            <label class="am-checkbox">
              <input type="checkbox" value="" data-am-ucheck>
            </label>
          </h3>
        </div>
        <div class="pro-price">
          ￥8000元
        </div>
        <ol class="pro-info">
          <li>单独注册 个人或者公司都可以</li>
          <li>包含一年单独申报费用</li>
        </ol>
      </div>
      <a href="" class="bottom-btn">
        立即开通
      </a>
    </section>

</body>
</html>