<!DOCTYPE html>
<html>
<head>
  <title>鲸航跨境-专注跨境服务</title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="{:U('hhbb/index')}" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 100%;" src="__PUBLIC__/image/banner/banner-hhbb.jpeg">
      </div>
      <div class="abstract">
        <h3>知识产权：海内外商标及专利申请</h3>
        <p>电商全球化浪潮下，打造属于自己的全球品牌</p>
      </div>
      <div class="introduce am-g">
        <div class="introduce-list"><i class="fa fa-circle"></i> 多国家可选</div>
        <div class="introduce-list"><i class="fa fa-circle"></i> 品牌全球化</div>
        <div class="introduce-list"><i class="fa fa-circle"></i> 项目申报</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">{$product[0]['name']}{$product[0]['sub_name']}
            <label class="am-checkbox">
              <input type="checkbox" data-price="{$product[0]['price']}" value="{$product[0]['sign']}" data-am-ucheck>
            </label>
          </h3>
        </div>
        <div class="pro-price">
          ￥{$product[0]['price']}元
        </div>

        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">{$product[1]['name']}{$product[1]['sub_name']}
            <label class="am-checkbox">
              <input type="checkbox" data-price="{$product[1]['price']}" value="{$product[1]['sign']}"  data-am-ucheck>
            </label>
          </h3>
        </div>
        <div class="pro-price">
          ￥{$product[1]['price']}元
        </div>

        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">{$product[2]['name']}{$product[2]['sub_name']}
            <label class="am-checkbox">
              <input type="checkbox" data-price="{$product[2]['price']}" value="{$product[2]['sign']}"  data-am-ucheck>
            </label>
          </h3>
        </div>
        <div class="pro-price">
          ￥{$product[2]['price']}元
        </div>

        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">{$product[3]['name']}{$product[3]['sub_name']}
            <label class="am-checkbox">
              <input type="checkbox" data-price="{$product[3]['price']}" value="{$product[3]['sign']}"  data-am-ucheck>
            </label>
          </h3>
        </div>
        <div class="pro-price">
          ￥{$product[3]['price']}元
        </div>

        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">{$product[4]['name']}{$product[4]['sub_name']}
            <label class="am-checkbox">
              <input type="checkbox" data-price="{$product[4]['price']}" value="{$product[4]['sign']}"  data-am-ucheck>
            </label>
          </h3>
        </div>
        <div class="pro-price">
          ￥{$product[4]['price']}元
        </div>
        <?php if(session('member') == 0){?>
        <form class="am-form">
          <fieldset>
            <div class="am-form-group">
              <label for="doc-ipt-email-1">联系方式 *</label>
              <input type="text" class="am-form-field am-input-sm" id="phone" placeholder="请填写手机号码">
            </div>
          </fieldset>
        </form>
        <?php }?>
      </div>
      <div class="bottom-btn">
        <a href="tel:15267038084" ><i class="fa fa-phone-square fa-lg"></i> 详情咨询</a>
        <a id="submit"><i class="fa fa-paper-plane fa-lg"></i>
          立即开通
        </a>
      </div>

      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">
            专利及项目申报
            <label class="am-checkbox">
          </label>
          </h3>

        </div>
        <ol class="pro-info">
          <li>下单后，工作人员会与您联系</li>
          <li>按照工作人员指导准备相应的深情材料</li>
          <li>商标查询，申报商标</li>
          <li>一般商标从受理到正式下发证书时间周期为：6-10个月</li>
          <li>专利和项目申报，提交需求后，工作人员会与您联系</li>
        </ol>
        <form class="am-form">
          <fieldset>
            <div class="am-form-group">
              <label for="doc-ta-1">填写简单介绍／申报需求</label>
              <textarea class="" rows="5" id="note"></textarea>
            </div>
            <button id="submit_patent" type="button" class="am-btn am-btn-secondary am-btn-block am-btn-sm">提交申请</button>
          </fieldset>
        </form>
      </div>
      <div class="cut-line-bold"></div>
      <div class="tc">
        <img style="width: 60%;" src="__PUBLIC__/image/logo.png">
      </div>
    </section>
<include file="Public/alert"/>
</body>
</html>

<script type="text/javascript">
  $('#submit').click(function(){
  

  var product_sign=""; 
  var price = 0;
  $(":checkbox:checked").each(function(){ 
    if(product_sign == ""){
      product_sign += $(this).val();
    }else{
      product_sign += ','+$(this).val()
    }
    price += parseFloat(($(this).data('price')));
  }) 
  var d = {};
  d.product_sign = product_sign;
  d.price = price;
  d.note = $('#phone').val();
  d.service_sign = 'zscq';

  if(d.product_sign == ''){
    $('#alertMsg').text('请至少选择一个产品');
    $('#myAlert').modal('toggle');
    return false;
  }
  if("<?=session('member')?>" == 0){
    d.type = 2;
    if(d.note == ''){
      $('#alertMsg').text('请填写您的联系方式');
      $('#myAlert').modal('toggle');
      return false;
    }
  }

  $.ajax({  
    url: Api+'/order/confirm',// 跳转到 action  
    data:d,
    type:'post',   
    success:function(data) {  
      if(data.error == 0 ){  
        console.log(data);
        window.location.href = Api+"/Wxpay/index?id="+data.data;
      }else if(data.error == 202){
        $('#vipMsg').text(data.msg);
        $('#vipAlert').modal('toggle');
      }
      // $('#alertMsg').text(data.msg);
      // $('#myAlert').modal('toggle');
     },  
     error:function(data) {  
       console.log(data)
     }  
  }); 
})


  $('#submit_patent').click(function(){
  var d = {};
  d.note = $('#note').val();
  if(d.note == ''){
    $('#alertMsg').text('请填写申报需求');
    $('#myAlert').modal('toggle');
    return false;
  }
  $.ajax({  
    url: Api+'/hhbb/submitPatent',// 跳转到 action  
    data:d,
    type:'post',   
    success:function(data) {  
      if(data.error == 0 ){  
        console.log(data);
      }else if(data.error == 202){
        $('#vipMsg').text(data.msg);
        $('#vipAlert').modal('toggle');
      }
      $('#alertMsg').text(data.msg);
      $('#myAlert').modal('toggle');
     },  
     error:function(data) {  
       console.log(data)
     }  
  }); 
})
</script>