<!DOCTYPE html>
<html>
<head>
  <title>鲸航跨境-专注跨境服务</title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="#left-link" class="">
            <!-- <i class="fa fa-angle-left fa-lg"></i> -->
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 100%;" src="__PUBLIC__/image/banner/banner-mine.jpeg">
      </div>
      <div class="abstract">
        <h2 class="pd2020">鲸航跨境-寻找跨境合伙人</h2>
        <div class="pd2020" style="line-height: 1.5">
          <h4>>跨境卖家</h4>
          <p>欢迎任何想了解和尝试跨境电商的小伙伴</p>
          <h4>>地区渠道合作伙伴</h4>
          <p>欢迎全国各地区孵化园区、电商服务商关于跨境资源、培训方面的渠道合作</p>
          <h4>>联营工厂</h4>
          <p>鲸航跨境承接各类工厂产品的跨境销售代理及电商联合运营</p>
        </div>
      </div>
      <div class="pd2222">
        
        <ul class="pd2222" style="line-height: 1.5;">
          <li>Email：1045517548@qq.com</li>
          <li>QQ：1045517548</li>
          <li>手机（微信）：
          <li><a href="tel:15267038084" >15267038084（开店咨询+渠道合作）</a></li>
          <li><a href="tel:18368049979" >18368049979（联营洽谈，非工厂勿扰）</a></li>
        </ul>
      </div>
    </section>

</body>
</html>