<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="#left-link" class="">
            <!-- <i class="fa fa-angle-left fa-lg"></i> -->
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 100%;" src="__PUBLIC__/image/banner/banner-mine.jpeg">
      </div>
      <div class="abstract">
        <h3 class="pd2020" style="line-height: 1.5">鲸航跨境开放各类渠道合作欢迎各电商园区、孵化器、服务供应商个人创业者等联系我们。</h3>
      </div>
      <div class="pd2222">
        
        <ul class="pd2222" style="line-height: 1.5">
          <li>Email：1045517548@qq.com</li>
          <li>QQ：1045517548</li>
          <li>手机（微信）：15267038084</li>
        </ul>
      </div>
    </section>

</body>
</html>