<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="{:U('union/index')}" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境人才库-自荐
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 100%;" src="__PUBLIC__/image/banner/banner-hhbb.jpeg">
      </div>
      <div class="pd2222">
        <form class="am-form">
          <fieldset>

            <div class="am-form-group">
              <label for="doc-ipt-email-1">姓名 *</label>
              <input type="text" class="am-form-field am-input-sm" id="name" placeholder="请输入姓名">
            </div>

            <div class="am-form-group">
              <label for="doc-ipt-email-1">联系人电话 *</label>
              <input type="text" class="am-form-field am-input-sm" id="phone" placeholder="请输入联系人电话">
            </div>

            <div class="am-form-group">
              <label for="doc-ipt-email-1">意向岗位 *</label>
              <input type="text" class="am-form-field am-input-sm" id="job" placeholder="请输入意向岗位">
            </div>

            <div class="am-form-group">
              <label for="doc-ta-1">自我推荐介绍 *</label>
              <textarea class="" rows="5" id="introduce"></textarea>
            </div>

            
            <button id="submit" type="button" class="am-btn am-btn-secondary am-btn-block am-btn-sm">提交信息</button>
            
          </fieldset>
        </form>
      </div>
      
    </section>
<div class="am-modal am-modal-alert" tabindex="-1" id="myAlert">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">提示</div>
    <div class="am-modal-bd">
      <span id="alertMsg">消息提示</span>
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn">确定</span>
    </div>
  </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="vipAlert">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">提示</div>
    <div class="am-modal-bd">
      <span id="vipMsg"></span>
    </div>
    <a href="{:U('member/register')}">
    <div class="am-modal-footer">
      <span class="vip-button">确定</span>
    </div>
    </a>
  </div>
</div>
</body>
</html>

<script type="text/javascript">
$('#submit').click(function(){
  var d = {};
  d.name = $('#name').val();
  d.phone = $('#phone').val();
  d.job = $('#job').val();
  d.introduce = $('#introduce').val();
  if(d.name == '' || d.phone == '' || d.job == '' || d.introduce == ''){
    $('#alertMsg').text('请填写带 * 信息');
    $('#myAlert').modal('toggle');
    return false;
  }
  $.ajax({  
    url: Api+'/union/submitApply',// 跳转到 action  
    data:d,
    type:'post',   
    success:function(data) {  
      if(data.error == 0 ){  
        console.log(data);
      }else if(data.error == 202){
        $('#vipMsg').text(data.msg);
        $('#vipAlert').modal('toggle');
      }
      $('#alertMsg').text(data.msg);
      $('#myAlert').modal('toggle');
     },  
     error:function(data) {  
       console.log(data)
     }  
  }); 
})


</script>