<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <!-- <a href="./index.html" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a> -->
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 100%;" src="__PUBLIC__/image/banner/banner-union.jpeg">
      </div>
      <div class="abstract">
        <h3>鲸航联盟</h3>
        <p>鲸航跨境-打造跨境资源共享社交圈子</p>
      </div>
      <div class="introduce am-g">
        <div class="introduce-list"><i class="fa fa-circle"></i> 资源共享</div>
        <div class="introduce-list"><i class="fa fa-circle"></i> 合作共赢</div>
        <div class="introduce-list"><i class="fa fa-circle"></i> 高端圈层</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">鲸航跨境-跨境电商货源联盟
          </h3>
        </div>
        <ol class="pro-info">
          <li>跨境电商全球市场体量空间大</li>
          <li>找货源难？在这里遇见一位好厂商与好产品</li>
          <li>找分销难？在这里邂逅一位优质跨境卖家</li>
          <li>提交供应或需求信息，鲸航平台协助匹配</li>
        </ol>
        <fieldset>
          <a class="fl" href="{:U('union/seekGoods')}">
          <button type="button" class="am-btn am-btn-secondary am-btn-sm wt100">我要找货源</button>
          </a>

          <a class="fr" href="{:U('union/hasGoods')}">
          <button type="button" class="am-btn am-btn-secondary am-btn-sm wt100">我有好货源</button>
          </a>
        </fieldset>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">鲸航跨境-跨境人才库
          </h3>
        </div>
        <ol class="pro-info">
          <li>求贤若渴，在这里招贤纳士</li>
          <li>才高八斗，在这里毛遂自荐</li>
          <li>给企业一个用人的机会，给人才一个施展的平台</li>
          <li>实习、全职、兼职等岗位不限</li>
        </ol>
        <fieldset>
          <a class="fl" href="{:U('union/apply')}">
          <button  type="button" class="am-btn am-btn-secondary am-btn-sm wt100">自 荐</button>
          </a>

          <a class="fr" href="{:U('union/recruit')}">
          <button type="button" class="am-btn am-btn-secondary am-btn-sm wt100">求 才</button>
          </a>
        </fieldset>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">鲸友会：沙龙 聚餐 户外活动
          </h3>
        </div>
        <ol class="pro-info">
          <li>各大城市不定期举办线下活动</li>
          <li>预报名，活动费用AA制</li>
          <li>跨境圈交友，鲸航盟友专享</li>
        </ol>
        <fieldset>
          <a href="{:U('union/activity')}">
          <button type="button" class="am-btn am-btn-secondary am-btn-block am-btn-sm">查看最新活动报名链接</button>
          </a>
        </fieldset>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">鲸航跨境-联合运营
          </h3>
        </div>
        <ol class="pro-info">
          <li>点击“我要联合运营”按钮，提交产品信息</li>
          <li>收到信息后，工作人员会联系您</li>
        </ol>
        <fieldset>
          <a href="{:U('union/operate')}">
          <button type="button" class="am-btn am-btn-secondary am-btn-block am-btn-sm">我要联合运营</button>
          </a>
        </fieldset>
      </div>
      <div class="cut-line-bold"></div>
      <div class="tc">
        <img style="width: 60%;" src="__PUBLIC__/image/logo.png">
      </div>
    </section>

</body>
</html>