<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="./index.html" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航联盟-联合运营
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 80%;" src="../../../Public/image/banner/banner-hhbb.jpeg">
      </div>
      <div class="pd2222">
        <form class="am-form">
          <fieldset>
            <div class="am-form-group">
              <label for="doc-ipt-email-1">公司名称 *</label>
              <input type="text" class="am-form-field am-input-sm" id="company_name" placeholder="请输入姓名">
            </div>

            <div class="am-form-group">
              <label for="doc-ipt-email-1">联系人姓名 *</label>
              <input type="text" class="am-form-field am-input-sm" id="company_name" placeholder="请输入联系人姓名">
            </div>

            <div class="am-form-group">
              <label for="doc-ipt-email-1">联系人电话 *</label>
              <input type="text" class="am-form-field am-input-sm" id="company_name" placeholder="请输入联系人电话">
            </div>

            <div class="am-form-group">
              <label for="doc-ipt-email-1">主营产品 *</label>
              <input type="number" class="am-form-field am-input-sm" id="company_name" placeholder="请输入主营产品">
            </div>

            <div class="am-form-group">
              <label for="doc-ta-1">公司介绍 *</label>
              <textarea class="am-form-field " rows="5" id="doc-ta-1" ></textarea>
            </div>

            
            <button type="button" class="am-btn am-btn-secondary am-btn-block am-btn-sm">提交信息</button>
            
          </fieldset>
        </form>
      </div>
      
    </section>

</body>
</html>