* {
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  transition: all ease-in-out 0.4s;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  line-height: 1;
  background: #fff;
  width: 100%;
  height: 100%;
  font-family: "微软雅黑", "Microsoft YaHei", "Helvetica Neue",  Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  color: #333;
  font-size: 14px;
}
ul {
  list-style: none;
  padding: 0px;
  margin:0px;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #333
}
a:hover{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
  margin-top: 0px;
  margin-bottom: 0px;
}
p{
  line-height: 1.5;
  margin: 5px 0px;
}
.pd0000{
  padding: 0px;
}
.pd1111{
  padding:5px; 
}
.pd1010{
  padding: 5px 0px;
}
.pd0101{
  padding: 0px 5px;
}
.pd2222{
  padding: 10px;
}
.pd2020{
  padding: 10px 0px;
}
.pd0202{
  padding: 0px 10px;
}
.pd3333{
  padding: 15px;
}
.pd3030{
  padding: 15px 0px;
}
.pd0303{
  padding: 0px 15px;
}
.pd4444{
  padding: 20px;
}
.pd4040{
  padding: 20px 0px;
}
.pd0404{
  padding: 0px 20px;
}
.mg0000{
  margin: 0px;
}
.mg1111{
  margin: 5px;
}
.mg1010{
  margin: 5px 0px;
}
.mg0101{
  margin: 5px 0px;
}
.mg1000{
  margin-top: 5px;
}
.mg2222{
  margin: 10px;
}
.mg2020{
  margin: 10px 0px;
}
.mg0202{
  margin: 0px 10px;
}
.mg2000{
  margin-top: 10px;
}
.mg3333{
  margin: 15px;
}
.mg3030{
  margin: 15px 0px;
}
.mg0303{
  margin: 0px 15px;
}
.mg3000{
  margin-top: 15px;
}
.mg4444{
  margin: 20px;
}
.mg4040{
  margin: 20px 0px;
}
.mg0404{
  margin: 0px 20px;
}
.mg4000{
  margin-top: 20px;
}
.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-1 {
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}
.block-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction:column
}
.tc{
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.bg-style {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: relative;
}
.cut-line-thin{
  width: 100%;
  border-top: 1px solid #ccc;
}
.cut-line-normal{
  width: 100%;
  height: 2px;
  background-color:#ccc 
}
.cut-line-bold{
  width: 100%;
  height: 5px;
  background-color:#ccc 
}
.cut-line-bolder{
  width: 100%;
  height: 8px;
  background-color:#ccc 
}
/* 改变am css */
.am-header-default{
  background-color: #00a2ff
}
.am-header .am-header-title{
  margin: 0px;
  font-size: 16px;
}

/* am 结束*/

.banner{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 2px;
}
.abstract{
  padding: 10px 10px 0px;
  margin: 0px 10px;
  border-bottom: 1px solid #00a2ff
}
.abstract p{
  font-size: 12px;
  padding: 5px 0px;
}
.introduce{
  padding: 10px;
  font-size: 12px;
  line-height: 1.2;
}
.introduce i{
  color: #00a2ff
}
.service-list li{
  padding:10px 10px ;
}
.service-list span{
  vertical-align: middle;
}
.service-list img{
  width: 25px;
  margin-right: 10px;
}






