<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <!-- <a href="./index.html" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a> -->
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 100%;" src="__PUBLIC__/image/banner/banner-school.jpeg">
      </div>
      <div class="abstract">
        <h3>亚马逊2018-新手开店90天成长计划</h3>
        <p>抓住“全球开店”的最后机遇，2018年鲸航跨境陪你一起做亚马逊</p>
      </div>
      <div class="introduce am-g">
        <div class="pro-price" style="padding: 0px 0px 10px 0px">
          ￥1788元<span style="font-size: 12px;color: red;padding-left: 20px;"> 鲸航VIP优惠价：1266</span>
        </div>
        <div class="introduce-list"><i class="fa fa-circle"></i> 从零开始</div>
        <div class="introduce-list"><i class="fa fa-circle"></i> 打卡完成进度任务</div>
        <div class="introduce-list"><i class="fa fa-circle"></i> 90天扎实成长</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <p class="tc">
          2017稍纵即逝<br>
          不想再错过2018亚马逊“全球开店”的最后机遇<br>
          那就加入我们吧！<br>
          真正的从零开始到销售破零<br>
          告别孤军奋战<br>
          鲸航跨境陪你一起一步一个脚印<br>
          搭建起自己的亚马逊店铺<br>
        </p>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">90天成长计划时间安排
          </h3>
        </div>
          <h4 class="pd0202">> 开店准备（30天</h4>
          <ol class="amazonnew-list">
            
            <li>报名成功后，加入鲸航跨境打卡群</li>
            <li>按照导师的要求，准备开店审核材料</li>
            <li>完成第一阶段的在线课程学习</li>
            <li>根据老师指导，完成选品、采购／生产、包装采购等工作</li>
          </ol>

          <h4 class="pd0202">> 店铺开通、上传产品并发货（10天）</h4>
          <ol class="amazonnew-list">
            
            <li>完成店铺注册</li>
            <li>上传好产品，并完成Listing优化</li>
            <li>完成第二阶段的在线课程学习</li>
            <li>在老师指导下，完成FBA发货</li>
          </ol>

          <h4 class="pd0202">> 销售破零、库存优化（20天）</h4>
          <ol class="amazonnew-list">
            
            <li>现实销售破零</li>
            <li>完成补货计划</li>
            <li>完成评测／CPC广告操作／LIsting优化</li>
            <li>完成第三阶段的在线课程学习</li>
            <li>在老师指导下，解决销售过程中遇到的问题</li>
          </ol>

          <h4 class="pd0202">> 运营提升（30天）</h4>
          <ol class="amazonnew-list">
            <li>运营工具的使用</li>
            <li>引流操作、数据监控优化</li>
            <li>问题交流</li>
            <li>结业，可以独立操作亚马逊开店</li>
          </ol>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">90天成长计划时间安排
          </h3>
        </div>
        <h4 class="pd0202">>亚马逊零基础，有自主产品，或暂时没货源，想做好产品的小白卖家</h4>
        <h4 class="pd2222">> 不适合追求短时间内迅速成为“大卖”的土豪卖家</h4>
      </div>
      <a id="submit" class="bottom-btn">
        立即开通
      </a>
    </section>
<include file="Public/alert"/>
</body>
</html>
<script type="text/javascript">
  $('#submit').click(function(){
  $.ajax({  
    url: Api+'/school/applyAmazonnew',// 跳转到 action  
    data:{},
    type:'post',   
    success:function(data) {  
      if(data.error == 0 ){  
        console.log(data);
      }else if(data.error == 202){
        $('#vipMsg').text(data.msg);
        $('#vipAlert').modal('toggle');
      }
      $('#alertMsg').text(data.msg);
      $('#myAlert').modal('toggle');
     },  
     error:function(data) {  
       console.log(data)
     }  
  }); 
})
</script>