<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <!-- <a href="./index.html" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a> -->
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 80%;" src="../../../Public/image/banner/banner-school.jpeg">
      </div>
      <div class="abstract">
        <h3>Shopee在线实操课程</h3>
        <p>从新手小白到独立操作Shopee的好水手</p>
      </div>
      <div class="introduce am-g">
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 分阶段提升</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 随时随地学</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 自由灵活复习</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
      </div>
    </section>

</body>
</html>