<!DOCTYPE html>
<html>
<head>
  <title>鲸航跨境-专注跨境服务</title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="#left-link" class="">
            <!-- <i class="fa fa-angle-left fa-lg"></i> -->
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 100%;" src="__PUBLIC__/image/banner/banner-mine.jpeg">
      </div>
      <div class="abstract">
        <h3>成为鲸航VIP</h3>
        <p>鲸航跨境-跨境电商平台专属注册通道</p>
      </div>
      <div style="padding: 10px 10px 0px" class="pro-price">
        ￥298元
      </div>
      <div style="padding: 10px;" class="introduce am-g">
        <div class="introduce-list"><i class="fa fa-circle"></i> 一次开卡永久使用</div>
        <div class="introduce-list"><i class="fa fa-circle"></i> 跨境如此简单</div>
        <div class="introduce-list"><i class="fa fa-circle"></i> 专业的力量</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="__PUBLIC__/image/bar.png">开卡说明
            <!-- <label class="am-checkbox">
              <input type="checkbox" value="" data-am-ucheck>
            </label> -->
          </h3>
        </div>
        <!-- <div class="pro-price">
          ￥100
        </div> -->
        <ol class="pro-info">
          <li>鲸航跨境卡，尽享优质跨境资源</li>
          <li>在线学习跨境电商实操</li>
          <li>加入鲸航跨境联盟，跨境社群大家庭</li>
        </ol>
      </div>
      <div class="cut-line-bold"></div>
      <div class="tc">
        <img style="width: 60%;" src="__PUBLIC__/image/logo.png">
      </div>
      <div class="bottom-btn">
        <a href="tel:15267038084" ><i class="fa fa-phone-square fa-lg"></i> 详情咨询</a>
        <a href="{:U('member/register')}"><i class="fa fa-paper-plane fa-lg"></i>
          开通鲸卡
        </a>
      </div>
      <!-- <a href="{:U('member/register')}" class="bottom-btn">
        开通鲸卡
      </a> -->
    </section>

</body>
</html>