<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="{:U('member/index')}" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 80%;" src="__PUBLIC__/image/banner/banner-mine.jpeg">
      </div>
      <div class="pd2222">
        <form class="am-form">
          <fieldset>
            <div class="am-form-group">
              <label for="doc-ipt-email-1">姓名 *</label>
              <input type="email" class="am-form-field am-input-sm" id="company_name" placeholder="请输入姓名">
            </div>

            <div class="am-form-group">
              <label for="doc-ipt-email-1">手机号码 *</label>
              <input type="email" class="am-form-field am-input-sm" id="company_name" placeholder="请输入手机号码">
            </div>

            <div class="am-form-group">
              <label for="doc-ipt-email-1">邮箱 *</label>
              <input type="email" class="am-form-field am-input-sm" id="company_name" placeholder="请输入邮箱">
            </div>

            <div class="am-form-group">
              <label for="doc-ipt-email-1">公司名称 </label>
              <input type="email" class="am-form-field am-input-sm" id="company_name" placeholder="请输入公司名称">
            </div>

            
            <button type="button" class="am-btn am-btn-secondary am-btn-block am-btn-sm">确定</button>
            
          </fieldset>
        </form>
      </div>
      
    </section>

</body>
</html>