@charset "UTF-8";
html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  font-size: 14px;
  color: #565a5c;
  line-height: 1.5;
  text-align: center;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
:before,
:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-transition: all ease-in-out 0.4s !important;
  transition: all ease-in-out 0.4s !important;
}
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
form,
p,
input,
select,
button,
ul,
ol,
li,
header,
section,
menu,
nav,
footer,
aside,
article {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
}
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
  display: block;
}
ul {
  list-style-type: none;
}
a {
  color: #565a5c;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.4s !important;
  transition: all ease-in-out 0.4s !important;
}
a:hover {
  color: #6699FF;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button,
textarea {
  -webkit-transition: all ease-in-out 0.4s !important;
  transition: all ease-in-out 0.4s !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button:hover {
  color: #6699FF;
  cursor: pointer;
}
p {
  padding: 11.2px 0;
}
.bo-menu-3 > li {
  float: left;
  display: inline-block;
  width: 33.33333%;
}
.bo-menu-4 > li {
  float: left;
  display: inline-block;
  width: 25%;
}
.bo-menu-5 > li {
  float: left;
  display: inline-block;
  width: 20%;
}
.bo-menu-icon {
  border-top: 1px #e0e0e0 solid;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  color: #999;
  background: #fff;
  overflow: hidden;
}
.bo-menu-icon button {
  background: none;
  border: 0;
  font-size: 24px;
  width: 100%;
  height: 40px;
  color: #999;
  cursor: pointer;
}
.bo-menu-icon button:active {
  color: #6699FF;
}
.bo-menu-icon button:hover {
  color: #6699FF;
}
.bo-menu-icon a {
  display: block;
  width: 100%;
  height: 40px;
  color: #999;
}
.bo-menu-icon a:hover {
  color: #6699FF;
}
.bo-menu-icon a:active {
  color: #6699FF;
}
.bo-menu-normal {
  border-top: 1px #e0e0e0 solid;
  text-align: center;
  height: 50px;
  font-size: 24px;
  color: #999;
  background: #fff;
  overflow: hidden;
}
.bo-menu-normal button {
  background: none;
  border: 0;
  width: 100%;
  height: 50px;
  color: #999;
  cursor: pointer;
  margin: 0;
}
.bo-menu-normal button:active {
  color: #6699FF;
}
.bo-menu-normal button:hover {
  color: #6699FF;
}
.bo-menu-normal button .icon {
  font-size: 24px;
  display: block;
  height: 30px;
  line-height: 30px;
}
.bo-menu-normal button .title {
  font-size: 12px;
  display: block;
  height: 16px;
  line-height: 16px;
}
.bo-menu-normal a {
  display: block;
  width: 100%;
  height: 50px;
  color: #999;
}
.bo-menu-normal a:hover {
  color: #6699FF;
}
.bo-menu-normal a:active {
  color: #6699FF;
}
.bo-menu-normal a .icon {
  font-size: 24px;
  display: block;
  height: 30px;
  line-height: 30px;
}
.bo-menu-normal a .title {
  font-size: 12px;
  display: block;
  height: 16px;
  line-height: 16px;
}
.bo-container-app {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 44px;
  bottom: 0;
}
.bo-layout-main,
.bo-layout-header,
.bo-layout-menu {
  width: 80%;
  margin-left: 20%;
  z-index: 999;
}
.bo-layout-full {
  margin-left: 0 !important;
  width: 100% !important;
}
.bo-layout-main {
  margin-top: 0;
  background: #f2f2f2;
  min-height: 100%;
  box-shadow: 0px 1px 1px #cfcfcf;
  overflow: hidden;
  padding: 44px 0 40px 0;
}
.bo-layout-main-top0 {
  padding-top: 0;
}
.bo-layout-main-addon {
  padding: 96px 0 40px 0;
}
.bo-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.bo-layout-header-absolute {
  z-index: 99999;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.bo-layout-header-normal {
  position: relative;
}
.bo-layout-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-top: 1px #e0e0e0 solid;
}
.bo-layout-sidebar {
  width: 20%;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
}
.bo-layout-sidemenu {
  width: 80px;
  position: fixed;
  left: 0;
  top: 44px;
  bottom: 0;
}
.bo-layout-sidemenu-absolute {
  position: absolute;
  left: 0;
  top: 44px;
}
.bo-side-p {
  padding-left: 80px;
}
.bo-unfixed .bo-layout-header {
  position: relative;
}
.bo-unfixed .bo-layout-main {
  padding: 0 0 40px 0;
}
.bo-header,
.bo-header-light,
.bo-header-tran {
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  font-size: 16px;
}
.bo-header .bo-header-dock-left,
.bo-header-light .bo-header-dock-left,
.bo-header-tran .bo-header-dock-left,
.bo-header .bo-header-dock-right,
.bo-header-light .bo-header-dock-right,
.bo-header-tran .bo-header-dock-right {
  position: absolute;
  height: 44px;
  line-height: 44px;
}
.bo-header .bo-header-dock-left a,
.bo-header-light .bo-header-dock-left a,
.bo-header-tran .bo-header-dock-left a,
.bo-header .bo-header-dock-right a,
.bo-header-light .bo-header-dock-right a,
.bo-header-tran .bo-header-dock-right a,
.bo-header .bo-header-dock-left button,
.bo-header-light .bo-header-dock-left button,
.bo-header-tran .bo-header-dock-left button,
.bo-header .bo-header-dock-right button,
.bo-header-light .bo-header-dock-right button,
.bo-header-tran .bo-header-dock-right button {
  background: none;
  border: 0;
  min-width: 44px;
  color: #ffffff;
  display: inline-block;
  float: left;
  height: 44px;
  line-height: 44px;
  padding: 0 14px;
}
.bo-header .bo-header-dock-left a:hover,
.bo-header-light .bo-header-dock-left a:hover,
.bo-header-tran .bo-header-dock-left a:hover,
.bo-header .bo-header-dock-right a:hover,
.bo-header-light .bo-header-dock-right a:hover,
.bo-header-tran .bo-header-dock-right a:hover,
.bo-header .bo-header-dock-left button:hover,
.bo-header-light .bo-header-dock-left button:hover,
.bo-header-tran .bo-header-dock-left button:hover,
.bo-header .bo-header-dock-right button:hover,
.bo-header-light .bo-header-dock-right button:hover,
.bo-header-tran .bo-header-dock-right button:hover {
  background: #4c88ff;
}
.bo-header .bo-header-dock-left a i,
.bo-header-light .bo-header-dock-left a i,
.bo-header-tran .bo-header-dock-left a i,
.bo-header .bo-header-dock-right a i,
.bo-header-light .bo-header-dock-right a i,
.bo-header-tran .bo-header-dock-right a i,
.bo-header .bo-header-dock-left button i,
.bo-header-light .bo-header-dock-left button i,
.bo-header-tran .bo-header-dock-left button i,
.bo-header .bo-header-dock-right button i,
.bo-header-light .bo-header-dock-right button i,
.bo-header-tran .bo-header-dock-right button i {
  font-size: 20px;
}
.bo-header .bo-header-dock-left .tip,
.bo-header-light .bo-header-dock-left .tip,
.bo-header-tran .bo-header-dock-left .tip,
.bo-header .bo-header-dock-right .tip,
.bo-header-light .bo-header-dock-right .tip,
.bo-header-tran .bo-header-dock-right .tip {
  content: ' ';
  position: absolute;
  right: 8px;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #FF6633;
}
.bo-header .bo-header-dock-left,
.bo-header-light .bo-header-dock-left,
.bo-header-tran .bo-header-dock-left {
  left: 0;
  top: 0;
}
.bo-header .bo-header-dock-right,
.bo-header-light .bo-header-dock-right,
.bo-header-tran .bo-header-dock-right {
  right: 0;
  top: 0;
}
.bo-header {
  background: #6699FF;
  color: #fff;
}
.bo-header-light {
  background: #fff;
  color: #444;
  border-bottom: 1px #e0e0e0 solid;
}
.bo-header-light .bo-header-dock-left a,
.bo-header-light .bo-header-dock-right a,
.bo-header-light .bo-header-dock-left button,
.bo-header-light .bo-header-dock-right button {
  color: #565a5c;
}
.bo-header-light .bo-header-dock-left a:hover,
.bo-header-light .bo-header-dock-right a:hover,
.bo-header-light .bo-header-dock-left button:hover,
.bo-header-light .bo-header-dock-right button:hover {
  background: none;
  color: #6699FF;
}
.bo-header-tran {
  background: none;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .bo-body {
    background: #fff;
  }
  .bo-container,
  .bo-layout-header,
  .bo-layout-menu,
  .bo-layout-main {
    width: 100%;
    margin-left: 0;
  }
  .bo-layout-sidebar {
    width: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    display: none;
  }
  .bo-dialog {
    width: 88% !important;
  }
  .bo-login-box {
    width: 100% !important;
  }
  .bo-label-control {
    line-height: 1.2;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .bo-body {
    background: #fff;
  }
  .bo-container,
  .bo-layout-header,
  .bo-layout-menu,
  .bo-layout-main {
    width: 80%;
    margin-left: 20%;
  }
  .bo-layout-full {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .bo-layout-sidebar {
    width: 20%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .bo-body {
    background: #fff;
  }
  .bo-container,
  .bo-layout-header,
  .bo-layout-menu,
  .bo-layout-main {
    width: 80%;
    margin-left: 20%;
  }
  .bo-layout-full {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .bo-layout-sidebar {
    width: 20%;
  }
}
@media only screen and (min-width: 1200px) {
  .bo-body {
    background: #fff;
  }
  .bo-container,
  .bo-layout-header,
  .bo-layout-menu,
  .bo-layout-main {
    width: 80%;
    margin-left: 20%;
  }
  .bo-layout-full {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .bo-layout-sidebar {
    width: 20%;
  }
}
.bo-banner {
  position: relative;
  min-height: 120px;
}
.bo-banner img {
  width: 100%;
  vertical-align: bottom;
}
.bo-banner:before {
  content: "";
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 100%);
}
.bo-notice {
  background: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 16px;
  position: fixed;
  left: 50%;
  color: #fff;
  bottom: 20%;
  width: 160px;
  margin-left: -80px;
  text-align: center;
}
.bo-tabmenu {
  cursor: pointer;
  text-align: center;
}
.bo-tabmenu .tabmenu-pic {
  margin: 0 auto;
  text-align: center;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 1em;
  font-size: 22px;
  background: #6699FF;
  color: #fff;
  display: block;
}
.bo-tabmenu .tabmenu-title {
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
  display: block;
}
.bo-tabmenu-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.bo-tabmenu2 {
  cursor: pointer;
  text-align: center;
  position: relative;
}
.bo-tabmenu2 .tabmenu-pic {
  margin: 0 auto;
  text-align: center;
  width: 2em;
  height: 1.2em;
  line-height: 1.2em;
  font-size: 26px;
  display: block;
}
.bo-tabmenu2 .tabmenu-title {
  text-align: center;
  padding: 3px 0;
  font-size: 14px;
  display: block;
}
.bo-tabmenu2 .tip {
  position: absolute;
  top: 0px;
  left: 70%;
  background: #FF6633;
  color: #fff;
  padding: 2px 4px;
  line-height: 1em;
  border-radius: 8px;
  font-size: 0.6rem;
}
.bo-tabmenu-sm .tabmenu-pic {
  width: 2em;
  height: 1.2em;
  line-height: 1.2em;
  font-size: 24px;
  display: block;
}
.bo-tabmenu-sm .tabmenu-title {
  padding: 1px 0;
  font-size: 12px;
  display: block;
  line-height: 1em;
}
.bo-tabmenu-border {
  border-bottom: 1px #eee solid;
}
.bo-tabmenu-border .bo-tabmenu2,
.bo-tabmenu-border .bo-tabmenu {
  padding: 20px 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px #eee solid;
}
.tabmenu-current {
  color: #6699FF !important;
}
.bo-sidebar {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #34495e;
}
.bo-sidebar .bo-tab-vertical {
  font-size: 14px;
  text-align: left;
}
.bo-sidebar .bo-tab-vertical a,
.bo-sidebar .bo-tab-vertical button {
  font-size: inherit;
  padding: 0 14px !important;
  height: 36.4px !important;
  line-height: 36.4px !important;
  color: #b9c8d8 !important;
}
.bo-sidebar .bo-tab-vertical a:hover,
.bo-sidebar .bo-tab-vertical button:hover {
  color: #ffffff !important;
}
.bo-sidebar .bo-tab-vertical .bo-tab-dock {
  right: 14px;
  top: 0;
  height: 36.4px !important;
  line-height: 36.4px !important;
  color: #91aac2;
  font-size: 11.2px;
}
.bo-sidebar .bo-tab-vertical .bo-tab-dock .bo-tab-dock-text {
  color: #91aac2 !important;
  line-height: 36.4px !important;
}
.bo-sidebar-title {
  color: #b9c8d8;
  text-align: left;
  font-size: 12.6px;
  padding: 14px 14px;
}
.bo-btn,
.bo-btn-primary,
.bo-btn-primary-underline,
.bo-btn-warm,
.bo-btn-blank,
.bo-btn-primary-blank,
.bo-btn-warm-blank,
.bo-btn-light,
.bo-btn-none,
.bo-btn-comfort {
  -webkit-appearance: none !important;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  border: 0;
  border-radius: 2px;
  line-height: 1.5;
  font-size: 14px;
  text-align: center;
  margin: 0;
}
.bo-btn i,
.bo-btn-primary i,
.bo-btn-primary-underline i,
.bo-btn-warm i,
.bo-btn-blank i,
.bo-btn-primary-blank i,
.bo-btn-warm-blank i,
.bo-btn-light i,
.bo-btn-none i,
.bo-btn-comfort i {
  line-height: 1.3;
}
.bo-btn-square {
  border-radius: 0 !important;
}
.bo-btn-blank {
  color: #565a5c;
  border: 1px #e0e0e0 solid;
  background: none;
}
.bo-btn-blank:hover {
  background: #f2f2f2;
  color: #565a5c;
}
.bo-btn-primary-blank {
  color: #6699FF;
  border: 1px #6699FF solid;
  background: none;
}
.bo-btn-primary-blank:hover {
  background: #6699FF;
  color: #fff;
}
.bo-btn-warm-blank {
  color: #FF6633;
  border: 1px #FF6633 solid;
  background: none;
}
.bo-btn-warm-blank:hover {
  background: #FF6633;
  color: #fff;
}
.bo-btn {
  color: #565a5c;
  background: #f2f2f2;
  border: 1px #f2f2f2 solid;
}
.bo-btn:hover {
  background: #d9d9d9;
}
.bo-btn-primary {
  color: #fff;
  background: #6699FF;
  border: 1px #6699FF solid;
}
.bo-btn-primary:hover {
  background: #2e74ff;
  color: #fff;
}
.bo-btn-primary-underline {
  color: #fff;
  background: #6699FF;
  border: 1px #6699FF solid;
  border-bottom: 3px #3377ff solid;
}
.bo-btn-primary-underline:hover {
  background: #2e74ff;
  color: #fff;
}
.bo-btn-warm {
  color: #fff;
  background: #FF6633;
  border: 1px #FF6633 solid;
}
.bo-btn-warm:hover {
  background: #fa3e00;
  color: #fff;
}
.bo-btn-comfort {
  color: #fff;
  background: #66CC33;
  border: 1px #66CC33 solid;
}
.bo-btn-comfort:hover {
  background: #509f28;
  color: #fff;
}
.bo-btn-light {
  border: 1px #fff solid;
  color: #fff;
}
.bo-btn-light:hover {
  background: #fff;
  color: #565a5c;
}
.bo-btn-none {
  background: none;
  color: #999;
}
.bo-btn-none:hover {
  color: #6699FF;
}
.bo-btn-tiny {
  padding: 2px 6px;
}
.bo-btn-sm {
  padding: 5px 10px;
}
.bo-btn-lg {
  padding: 10px 16px;
  font-size: 16px;
}
.bo-btn-block {
  width: 100%;
  display: block !important;
}
button {
  outline: none;
}
.bo-textarea,
.bo-input,
.bo-input-lg,
.bo-input-sm,
.bo-input-tiny,
.bo-select,
.bo-select-lg,
.bo-select-sm {
  background: #fff;
  border: 1px #e0e0e0 solid;
  border-radius: 2px;
  line-height: 1.5;
  font-family: inherit;
  font-size: 14px;
}
.bo-textarea:focus,
.bo-input:focus,
.bo-input-lg:focus,
.bo-input-sm:focus,
.bo-input-tiny:focus,
.bo-select:focus,
.bo-select-lg:focus,
.bo-select-sm:focus {
  outline: none;
  box-shadow: 0 0 4px #b3ccff;
  border: 1px #6699FF solid;
}
.bo-textarea:hover,
.bo-input:hover,
.bo-input-lg:hover,
.bo-input-sm:hover,
.bo-input-tiny:hover,
.bo-select:hover,
.bo-select-lg:hover,
.bo-select-sm:hover {
  border: 1px #6699FF solid;
}
.bo-readonly {
  background: #f9f9f9;
}
.bo-textarea {
  padding: 9px 10px;
}
.bo-input,
.bo-input-lg,
.bo-input-sm,
.bo-input-tiny {
  -webkit-appearance: none !important;
}
.bo-input,
.bo-select {
  padding: 9px 10px;
  height: 39px;
}
.bo-input-lg,
.bo-select-lg {
  padding: 11px 16px;
  height: 46px;
  font-size: 16px;
}
.bo-input-sm,
.bo-select-sm {
  padding: 6px 10px;
  height: 33px;
}
.bo-input-tiny {
  padding: 3px 6px;
  height: 27px;
}
.bo- select {
  -webkit-appearance: none;
}
.bo-input-wrong-sm {
  position: relative;
}
.bo-input-wrong-sm input {
  outline: none;
  box-shadow: 0 0 4px #b3ccff;
  border: 1px #FF6633 solid;
}
.bo-input-wrong-sm > p {
  color: #FF6633;
  padding: 0;
  position: absolute;
  right: 14px;
  top: 0;
  display: none;
}
.bo-input-wrong {
  position: relative;
}
.bo-input-wrong:after {
  position: absolute;
  right: 7px;
  top: 0;
  font-family: iconfont;
  content: '\e61a';
  font-size: 20px;
  color: #FF6633;
  height: 39px;
  line-height: 39px;
}
.bo-input-wrong > .bo-input,
.bo-input-wrong > .bo-input-lg {
  border: 1px #FF6633 solid;
  box-shadow: 0 0 4px #ff9f80;
}
.bo-input-wrong > .bo-input:hover,
.bo-input-wrong > .bo-input-lg:hover,
.bo-input-wrong > .bo-input:focus,
.bo-input-wrong > .bo-input-lg:focus {
  border: 1px #FF6633 solid;
  box-shadow: 0 0 4px #ff9f80;
}
.bo-input-wrong > i {
  display: none;
}
.bo-input-wrong > p {
  color: #FF6633;
  padding: 1px 0 0 0;
  text-align: left;
  background: #fff;
}
.bo-input-wrong > .error {
  position: absolute;
  left: 0;
  top: 0;
}
.bo-input-notice .bo-tip {
  background: #FF6633;
}
.bo-input-notice .bo-tip-top {
  position: absolute;
  z-index: 999;
  right: 14px;
  top: -12px;
}
.bo-input-notice .bo-tip-top:before {
  border-top-color: #FF6633;
}
.bo-form-item-lg .bo-input-wrong:after,
.bo-form-item-lg .bo-input-pass:after {
  right: 14px;
  height: 46px;
  line-height: 46px;
}
.bo-form-item-lg .bo-input-icon i {
  right: 14px;
  height: 46px;
  line-height: 46px;
}
.bo-select-wrong > .bo-select,
.bo-select-wrong > .bo-select-lg {
  border: 1px #FF6633 solid;
  box-shadow: 0 0 4px #ff9f80;
}
.bo-select-wrong > .bo-select:hover,
.bo-select-wrong > .bo-select-lg:hover,
.bo-select-wrong > .bo-select:focus,
.bo-select-wrong > .bo-select-lg:focus {
  border: 1px #FF6633 solid;
  box-shadow: 0 0 4px #ff9f80;
}
.bo-select-wrong > p {
  color: #FF6633;
  padding: 7px 0 0 0;
}
.bo-input-pass {
  position: relative;
}
.bo-input-pass:after {
  position: absolute;
  right: 7px;
  top: 0;
  font-family: iconfont;
  content: '\e608';
  font-size: 20px;
  color: #66CC33;
  height: 39px;
  line-height: 39px;
}
.bo-input-pass > i {
  display: none;
}
.bo-input-pass > .bo-input,
.bo-input-pass > .bo-input-lg {
  border: 1px #66CC33 solid;
  box-shadow: 0 0 4px #94db70;
}
.bo-input-pass > .bo-input:hover,
.bo-input-pass > .bo-input-lg:hover,
.bo-input-pass > .bo-input:focus,
.bo-input-pass > .bo-input-lg:focus {
  border: 1px #66CC33 solid;
  box-shadow: 0 0 4px #94db70;
}
.bo-input-icon {
  position: relative;
}
.bo-input-icon i {
  position: absolute;
  right: 7px;
  top: 0;
  font-family: iconfont;
  font-size: 20px;
  color: #66CC33;
  height: 39px;
  line-height: 39px;
  color: #999;
}
.bo-input-pass-lg:after {
  height: 46px;
  line-height: 46px;
}
.bo-form label {
  font-weight: bold;
}
.bo-label-required:after {
  color: #FF6633;
  content: ' * ';
  font-size: 16px;
}
.bo-form-item,
.bo-form-item-lg {
  padding: 7px 0;
}
.bo-form-item:after {
  content: '';
  display: block;
  clear: both;
  width: 100%;
  line-height: 0;
  overflow: hidden;
}
.bo-form-control {
  width: 100%;
}
.bo-label-control {
  line-height: 39px;
  text-align: right;
}
.bo-form-blank .form-notice {
  padding: 2px 14px;
  background: #FF6633;
  text-align: left;
  color: #fff;
}
.bo-form-blank .bo-form-item,
.bo-form-blank .bo-form-item-lg {
  padding: 0;
  border-bottom: 1px #e0e0e0 solid;
  position: relative;
}
.bo-form-blank .bo-form-item input,
.bo-form-blank .bo-form-item-lg input,
.bo-form-blank .bo-form-item select,
.bo-form-blank .bo-form-item-lg select {
  border: 0 !important;
  padding: 11px 16px;
  padding-left: 80px;
  height: 46px;
  font-size: 16px;
  box-shadow: none !important;
  width: 100%;
}
.bo-form-blank .bo-form-item textarea,
.bo-form-blank .bo-form-item-lg textarea {
  border: 0 !important;
  padding: 11px 16px;
  width: 100%;
  margin: 0;
}
.bo-form-blank .bo-form-item .input-no-label,
.bo-form-blank .bo-form-item-lg .input-no-label {
  padding-left: 14px;
}
.bo-form-blank .bo-form-item p,
.bo-form-blank .bo-form-item-lg p {
  padding-left: 14px;
}
.bo-form-blank .bo-form-item .bo-label,
.bo-form-blank .bo-form-item-lg .bo-label {
  width: 80px;
  position: absolute;
  left: 0;
  top: 0;
  height: 46px;
  line-height: 46px;
  text-align: right;
  z-index: 99;
  font-size: 16px;
  padding-right: 14px;
}
.bo-form-blank .bo-form-item-lg:last-child {
  border-bottom: 0;
}
.bo-form-blank .bo-form-item-noline {
  border-bottom: 0px !important;
}
.bo-box {
  text-align: left;
  background: #fff;
  border-bottom: 1px #e0e0e0 solid;
}
.bo-box:after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden;
  width: 100%;
  height: 0;
  line-height: 0;
}
.bo-box-tool {
  border-top: 1px #eee solid;
  padding-top: 14px;
  text-align: right;
}
.bo-box-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border-bottom: 1px #e0e0e0 solid;
}
.bo-box-flex .flex-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.bo-box-dock {
  border-top: 1px #eee solid;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bo-box-dock .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bo-box-dock .pull-right {
  text-align: right;
}
.bo-box-dock .pull-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bo-box-title {
  padding: 7px 14px;
  position: relative;
  font-size: 12px;
  text-align: left;
  font-weight: normal;
  color: #999;
}
.bo-box-title3 {
  min-height: 50px;
  padding: 0.8em 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px #eee solid;
}
.bo-box-title3 .title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: normal;
}
.bo-box-title3 .link {
  color: #999;
  line-height: 50px;
}
.bo-box-title2 {
  min-height: 50px;
  line-height: 50px;
  padding: 0 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px #eee solid;
}
.bo-box-title2 .title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: normal;
}
.bo-box-title2 .link {
  color: #999;
  line-height: 50px;
}
.bo-box-title-sm {
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px #eee solid;
}
.bo-box-title-sm .title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10px;
  font-weight: normal;
}
.bo-box-title-sm .link {
  color: #999;
}
.bo-fw {
  width: 100%;
}
.bo-tab-vertical,
.bo-tab-vertical-bor {
  font-size: 16px;
}
.bo-tab-vertical .bo-tab-item:last-child,
.bo-tab-vertical-bor .bo-tab-item:last-child,
.bo-tab-vertical .bo-tab-item-icon:last-child,
.bo-tab-vertical-bor .bo-tab-item-icon:last-child {
  border-bottom: 0;
}
.bo-tab-vertical .bo-tab-item,
.bo-tab-vertical-bor .bo-tab-item,
.bo-tab-vertical .bo-tab-item-icon,
.bo-tab-vertical-bor .bo-tab-item-icon {
  position: relative;
}
.bo-tab-vertical .bo-tab-item > a,
.bo-tab-vertical-bor .bo-tab-item > a,
.bo-tab-vertical .bo-tab-item-icon > a,
.bo-tab-vertical-bor .bo-tab-item-icon > a,
.bo-tab-vertical .bo-tab-item > p,
.bo-tab-vertical-bor .bo-tab-item > p,
.bo-tab-vertical .bo-tab-item-icon > p,
.bo-tab-vertical-bor .bo-tab-item-icon > p {
  display: block;
  padding: 0 14px;
  height: 52px;
  line-height: 52px;
}
.bo-tab-vertical .bo-tab-item > button,
.bo-tab-vertical-bor .bo-tab-item > button,
.bo-tab-vertical .bo-tab-item-icon > button,
.bo-tab-vertical-bor .bo-tab-item-icon > button {
  font-size: 16px;
  font-family: inherit;
  border: 0;
  background: none;
  padding: 0 14px;
  height: 52px;
  line-height: 52px;
  width: 100%;
}
.bo-tab-vertical .bo-tab-item .bo-tab-dock,
.bo-tab-vertical-bor .bo-tab-item .bo-tab-dock,
.bo-tab-vertical .bo-tab-item-icon .bo-tab-dock,
.bo-tab-vertical-bor .bo-tab-item-icon .bo-tab-dock {
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 0;
  height: 52px;
  line-height: 52px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bo-tab-vertical .bo-tab-item .bo-tab-dock .bo-tab-dock-button,
.bo-tab-vertical-bor .bo-tab-item .bo-tab-dock .bo-tab-dock-button,
.bo-tab-vertical .bo-tab-item-icon .bo-tab-dock .bo-tab-dock-button,
.bo-tab-vertical-bor .bo-tab-item-icon .bo-tab-dock .bo-tab-dock-button {
  display: inline-block;
  font-family: inherit;
  height: 52px;
  line-height: 52px;
  padding: 0 14px;
  background: none;
  border: 0;
  border-left: 1px #e0e0e0 solid;
}
.bo-tab-vertical .bo-tab-item .bo-tab-dock .bo-tab-dock-text,
.bo-tab-vertical-bor .bo-tab-item .bo-tab-dock .bo-tab-dock-text,
.bo-tab-vertical .bo-tab-item-icon .bo-tab-dock .bo-tab-dock-text,
.bo-tab-vertical-bor .bo-tab-item-icon .bo-tab-dock .bo-tab-dock-text {
  line-height: 52px;
  color: #999;
  padding: 0 14px 0 0;
  margin: 0;
}
.bo-tab-vertical .bo-tab-item-icon,
.bo-tab-vertical-bor .bo-tab-item-icon {
  padding-left: 36.4px;
}
.bo-tab-vertical .bo-tab-item-icon > i,
.bo-tab-vertical-bor .bo-tab-item-icon > i {
  position: absolute;
  left: 0;
  top: 0;
  height: 52px;
  line-height: 52px;
  padding-left: 14px;
  text-align: center;
  font-size: 20px;
  color: #999;
}
.bo-tab-vertical .bo-tab-item-arrow,
.bo-tab-vertical-bor .bo-tab-item-arrow {
  position: relative;
}
.bo-tab-vertical .bo-tab-item-arrow:after,
.bo-tab-vertical-bor .bo-tab-item-arrow:after {
  position: absolute;
  width: 52px;
  text-align: center;
  top: 0;
  right: 0;
  content: "\e61c";
  font-family: "iconfont";
  height: 52px;
  line-height: 52px;
}
.bo-tab-vertical-bor .bo-tab-item,
.bo-tab-vertical-bor .bo-tab-item-icon {
  border-bottom: 1px #e0e0e0 solid;
}
.bo-tab-vertical-bor:last-child {
  border-bottom: 0;
}
.bo-tab-horizon {
  height: 44px;
}
.bo-tab-horizon:after {
  clear: both;
  height: 0;
  line-height: 0;
  overflow: hidden;
}
.bo-tab-horizon .bo-tab-item {
  display: inline-block;
  font-size: 16px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  float: left;
}
.bo-tab-horizon .bo-tab-item-current {
  border-bottom: 2px #6699FF solid;
  color: #6699FF !important;
}
.bo-tab-side {
  height: 100%;
  border-right: 1px #e0e0e0 solid;
  line-height: 1.2;
  background: #f2f2f2;
}
.bo-tab-side:after {
  clear: both;
  height: 0;
  line-height: 0;
  overflow: hidden;
}
.bo-tab-side .bo-tab-item {
  font-size: 16px;
  padding: 10px 4px;
  border-bottom: 1px #e0e0e0 solid;
  cursor: pointer;
}
.bo-tab-side .bo-tab-item-current {
  margin-right: -1px;
  border-left: 2px #6699FF solid;
  color: #6699FF !important;
  background: #fff;
}
.bo-tab-side .tab-item-tag {
  padding: 6px 4px;
}
.bo-tab-side p {
  color: #999;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.bo-tab-side .tab-item-disable {
  color: #999;
}
.bo-p1111 {
  padding: 14px 14px;
}
.bo-p0111 {
  padding: 0 14px 14px 14px;
}
.bo-p1000 {
  padding-top: 14px;
}
.bo-p0010 {
  padding-bottom: 14px;
}
.bo-p0100 {
  padding-right: 14px;
}
.bo-p0001 {
  padding-left: 14px;
}
.bo-p1010 {
  padding: 14px 0;
}
.bo-p0101 {
  padding: 0 14px;
}
.bo-p1101 {
  padding: 14px 14px 0 14px;
}
.bo-p1001 {
  padding: 14px 0 0 14px;
}
.bo-p0110 {
  padding: 0 14px 14px 0;
}
.bo-p2000 {
  padding-top: 28px;
}
.bo-p0020 {
  padding-bottom: 28px;
}
.bo-p0200 {
  padding-right: 28px;
}
.bo-p0002 {
  padding-left: 28px;
}
.bo-p2222 {
  padding: 28px 28px;
}
.bo-m1111 {
  margin: 14px 14px;
}
.bo-m2222 {
  margin: 28px 28px;
}
.bo-m1000 {
  margin-top: 14px;
}
.bo-m0010 {
  margin-bottom: 14px;
}
.bo-m0100 {
  margin-right: 14px;
}
.bo-m0001 {
  margin-left: 14px;
}
.bo-m1010 {
  margin: 14px 0;
}
.bo-m0101 {
  margin: 0 14px;
}
.bo-m1101 {
  margin: 14px 14px 0 14px;
}
.bo-m2000 {
  margin-top: 28px;
}
.bo-m0020 {
  margin-bottom: 28px;
}
.bo-m0200 {
  margin-right: 28px;
}
.bo-m0002 {
  margin-left: 28px;
}
.bo-article {
  text-align: left;
}
.bo-article h1,
.bo-article h2,
.bo-article h3,
.bo-article h4,
.bo-article h5 {
  font-weight: bold;
  padding: 0.8em 0 0.2em 0;
}
.bo-article h1 small,
.bo-article h2 small,
.bo-article h3 small,
.bo-article h4 small,
.bo-article h5 small {
  color: #999;
  font-weight: normal;
}
.bo-article h1 {
  font-size: 20px;
}
.bo-article h2 {
  font-size: 19.2px;
}
.bo-article h3 {
  font-size: 16px;
}
.bo-article h4 {
  font-size: 16.8px;
}
.bo-article h5 {
  font-size: 14px;
}
.bo-title-midline {
  height: 60px;
  position: relative;
}
.bo-title-midline:after {
  content: "";
  display: block;
  border-bottom: 1px #e0e0e0 solid;
  height: 50%;
  width: 120px;
  margin: 0 auto;
}
.bo-title-midline .title {
  position: absolute;
  left: 50%;
  top: 0;
  line-height: 60px;
  width: 100px;
  background: #fff;
  margin-left: -50px;
  text-align: center;
  font-weight: normal;
}
.bo-title-line,
.bo-title-line-sm {
  height: 60px;
  position: relative;
}
.bo-title-line:after,
.bo-title-line-sm:after {
  content: "";
  display: block;
  border-bottom: 1px #eee solid;
  height: 50%;
  width: 100%;
  margin: 0 auto;
}
.bo-title-line .title,
.bo-title-line-sm .title {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 60px;
  width: 100px;
  background: #fff;
  text-align: left;
  font-weight: normal;
}
.bo-title-line-sm {
  height: 36px;
}
.bo-title-line-sm .title {
  line-height: 36px;
  width: 60px;
}
.bo-article-list li {
  text-align: left;
  position: relative;
  line-height: 38px;
  font-size: 15px;
}
.bo-article-list span {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 38px;
  color: #999;
}
/**
 * Grid
 * @authors leedow (644743991@qq.com)
 * @website http://www.leedow.com
 * @date    2015-05-17 12:01:55
 * @version $Id$
 */
.col {
  float: left;
  display: block;
}
.bo-ovf {
  overflow: hidden;
}
.bo-hf {
  height: 100%;
}
.bo-row:after {
  display: block;
  content: '';
  width: 100%;
  clear: both;
  height: 0;
  line-height: 0;
  overflow: hidden;
}
.bo-col {
  float: left;
}
.bo-col-1 {
  float: left;
  display: block;
  width: 8.333333%;
}
.bo-col-2 {
  float: left;
  display: block;
  width: 16.666666%;
}
.bo-col-3 {
  float: left;
  display: block;
  width: 25%;
}
.bo-col-4 {
  float: left;
  display: block;
  width: 33.333333%;
}
.bo-col-5 {
  float: left;
  display: block;
  width: 41.666666%;
}
.bo-col-6 {
  float: left;
  display: block;
  width: 50%;
}
.bo-col-7 {
  float: left;
  display: block;
  width: 58.333333%;
}
.bo-col-8 {
  float: left;
  display: block;
  width: 66.666666%;
}
.bo-col-9 {
  float: left;
  display: block;
  width: 75%;
}
.bo-col-10 {
  float: left;
  display: block;
  width: 83.333333%;
}
.bo-col-11 {
  float: left;
  display: block;
  width: 91.666666%;
}
.bo-offset-1 {
  margin-left: 8.333333%;
}
.bo-offset-2 {
  margin-left: 16.666666%;
}
.bo-offset-3 {
  margin-left: 25%;
}
.bo-offset-4 {
  margin-left: 33.333333%;
}
.bo-offset-5 {
  margin-left: 41.666666%;
}
.bo-offset-6 {
  margin-left: 50%;
}
.bo-offset-7 {
  margin-left: 58.333333%;
}
.bo-offset-8 {
  margin-left: 66.666666%;
}
.bo-offset-9 {
  margin-left: 75%;
}
.bo-offset-10 {
  margin-left: 83.333333%;
}
.bo-offset-11 {
  margin-left: 91.666666%;
}
.bo-offset-1-r {
  margin-right: 8.333333%;
}
.bo-offset-2-r {
  margin-right: 16.666666%;
}
.bo-offset-3-r {
  margin-right: 25%;
}
.bo-offset-4-r {
  margin-right: 33.333333%;
}
.bo-offset-5-r {
  margin-right: 41.666666%;
}
.bo-offset-6-r {
  margin-right: 50%;
}
.bo-offset-7-r {
  margin-right: 58.333333%;
}
.bo-offset-8-r {
  margin-right: 66.666666%;
}
.bo-offset-9-r {
  margin-right: 75%;
}
.bo-offset-10-r {
  margin-right: 83.333333%;
}
.bo-offset-11-r {
  margin-right: 91.666666%;
}
.bo-tl {
  text-align: left;
}
.bo-tr {
  text-align: right;
}
.bo-tc {
  text-align: center;
}
.bo-header .bo-header-dock-left a,
.bo-header-light .bo-header-dock-left a,
.bo-header .bo-header-dock-right a,
.bo-header-light .bo-header-dock-right a,
.bo-header .bo-header-dock-left button,
.bo-header-light .bo-header-dock-left button,
.bo-header .bo-header-dock-right button,
.bo-header-light .bo-header-dock-right button {
  *min-width: 16px;
  *display: block;
}
.bo-btn,
.bo-btn-primary,
.bo-btn-warm,
.bo-btn-primary-blank,
.bo-btn-warm-blank {
  *display: inline;
  *overflow: visible ;
}
.bo-input {
  *padding-top: 0;
  *padding-bottom: 0;
  *line-height: 39px;
}
.bo-input-lg {
  *padding-top: 0;
  *padding-bottom: 0;
  *line-height: 46px;
}
.bo-dropdown-left-bottom,
.bo-dropdown-right-bottom,
.bo-dropdown-right-top,
.bo-dropdown-left-top {
  position: relative;
  display: inline-block;
}
.bo-dropdown-left-bottom .bo-dropdown-menu,
.bo-dropdown-right-bottom .bo-dropdown-menu,
.bo-dropdown-right-top .bo-dropdown-menu,
.bo-dropdown-left-top .bo-dropdown-menu {
  display: none;
  position: absolute;
  border: 1px #e0e0e0 solid;
  border-radius: 2px;
  background: #fff;
  z-index: 999;
}
.bo-dropdown-left-bottom .bo-dropdown-menu {
  top: 99%;
  left: 0;
}
.bo-dropdown-right-bottom .bo-dropdown-menu {
  top: 99%;
  right: 0;
}
.bo-dropdown-right-top .bo-dropdown-menu {
  bottom: 99% ;
  right: 0;
}
.bo-dropdown-left-top .bo-dropdown-menu {
  bottom: 99%;
  left: 0;
}
.bo-dropdown-menu {
  overflow: hidden;
}
.bo-dropdown-menu > li a,
.bo-dropdown-menu > li button {
  display: block;
  width: 100%;
  height: 38px;
  line-height: 38px;
  padding: 0 15px;
  cursor: pointer;
}
.bo-dropdown-menu > li button {
  background: none;
  border: 0;
  font-size: 15px;
  text-align: left;
}
.bo-dropdown-menu > li a:hover {
  background: #f2f2f2;
  color: #565a5c;
}
.bo-list .list-item {
  clear: both;
  width: 100%;
  overflow: hidden;
}
.bo-list .list-item-2 {
  width: 50%;
  float: left;
  border-bottom: 1px #eee solid;
  border-right: 1px #fff solid;
  overflow: hidden;
}
.bo-list .list-item-2:nth-child(odd) {
  border-right: 1px #eee solid;
}
.bo-tip {
  background: #444;
  color: #fff;
  padding: 0 4px;
  height: 20px;
  line-height: 20px;
  border-radius: 2px;
}
.bo-tip:before {
  position: absolute;
  content: " ";
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
}
.bo-tip-left:before {
  border-left-color: #444;
  left: 100%;
  top: 50%;
  margin-top: -5px;
}
.bo-tip-top:before {
  border-top-color: #444;
  right: 15px;
  bottom: -10px;
}
.bo-tip-bottom:before {
  border-bottom-color: #444;
  left: 15px;
  top: -10px;
}
.bo-tip-right:before {
  border-right-color: #444;
  right: 100%;
  top: 50%;
  margin-top: -5px;
}
.bo-notice-warm {
  background: #fcf8e3;
  color: #FF6633;
}
.bo-counter,
.bo-counter-sm {
  display: inline-block;
  float: left;
}
.bo-counter .counter-btn,
.bo-counter-sm .counter-btn {
  border: 1px #e0e0e0 solid;
  background: #fff;
  float: left;
}
.bo-counter .counter-input,
.bo-counter-sm .counter-input {
  float: left;
  width: 40px;
  text-align: center;
  border: 0 !important;
  padding-left: 0;
  padding-right: 0;
}
.bo-counter-sm .counter-btn {
  border: 1px #e0e0e0 solid;
  background: #fff;
  float: left;
}
.bo-counter-sm .counter-input {
  float: left;
  width: 40px;
  text-align: center;
  border: 0 !important;
  padding-left: 0;
  padding-right: 0;
}
.bo-counter2 {
  float: left;
}
.bo-counter2 .counter-btn,
.bo-counter2 .counter-btn-disable {
  height: 28px;
  width: 28px;
  border: none;
  border-radius: 14px;
  background: #6699FF;
  color: #fff;
  line-height: 28px;
}
.bo-counter2 .counter-btn-disable {
  background: #f2f2f2;
  color: #999;
  line-height: 28px;
}
.bo-counter2 .counter-input {
  height: 28px;
  text-align: center;
  border: none;
  width: 40px;
  background: none;
}
.bo-none {
  text-align: center;
  padding: 40px 0;
  color: #999;
}
.bo-none .icon {
  padding: 0;
  width: 100%;
}
.bo-none .icon i {
  font-size: 38px;
  line-height: 38px;
}
.bo-stars,
.bo-stars-sm {
  float: left;
  height: 25px;
  line-height: 25px;
}
.bo-stars .star,
.bo-stars-sm .star,
.bo-stars .star-check,
.bo-stars-sm .star-check {
  float: left;
  border: 0;
  background: 0;
  font-size: 20px;
  margin-right: 10px;
  color: #ddd;
  padding: 0;
}
.bo-stars .star:hover,
.bo-stars-sm .star:hover,
.bo-stars .star-check:hover,
.bo-stars-sm .star-check:hover {
  color: #FF6633;
}
.bo-stars .star-check,
.bo-stars-sm .star-check {
  color: #FF6633;
}
.bo-stars .score,
.bo-stars-sm .score {
  line-height: 25px;
  float: left;
  font-size: 16px;
}
.bo-stars-sm .star,
.bo-stars-sm .star-check {
  margin-right: 5px;
  font-size: 14px;
}
.bo-check {
  position: relative;
  background: none;
  border: 0;
  font-size: 16px;
  color: #999;
}
.bo-check .check-font {
  font-size: 16px;
}
.bo-checked {
  color: #6699FF;
}
.bo-checked-tip {
  color: #FF6633;
}
.bo-checked-tip:after {
  position: absolute;
  right: -8px;
  top: -3.2px;
  font-family: iconfont;
  content: '\e608';
  font-size: 16px;
  color: #FF6633;
  background: #fff;
  border-radius: 8px;
}
.bo-shp-warm {
  color: #FF6633;
}
.bo-shp-warm:after {
  position: absolute;
  right: -8px;
  top: -3.2px;
  font-family: iconfont;
  content: '\e612' !important;
  font-size: 16px;
  color: #FF6633;
  background: #fff;
  border-radius: 8px;
}
.bo-comment .name {
  font-weight: bold;
  font-size: 14px;
}
.bo-comment .info {
  color: #999;
  font-size: 13px;
  overflow: hidden;
  line-height: 22px;
}
.bo-comment .content {
  padding: 5px 0 0 0;
}
.bo-comment .reply {
  padding: 5px 0 0 0;
}
.bo-comment .replyname {
  color: #999;
}
.bo-clear {
  line-height: 0;
  clear: both;
  overflow: hidden;
  height: 0;
  width: 100%;
}
.bo-underline {
  border-bottom: 1px #e0e0e0 solid;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
#bo-dialog-layout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@-webkit-keyframes open {
  from {
    -webkit-transform: scale(0.2);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes open {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes close {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
    display: none;
  }
}
@keyframes close {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
}
.dialog-state-open {
  -webkit-animation: open 0.3s both ease;
  animation: open 0.3s both ease;
}
.dialog-state-close {
  -webkit-animation: close 0.3s both ease;
  animation: close 0.3s both ease;
}
.bo-dialog {
  position: relative;
  border-radius: 4px;
  width: 400px;
  max-height: 95%;
  background: #fff;
  padding-top: 40px;
  padding-bottom: 60px;
  border: 1px #565a5c solid;
  margin: 0 auto;
}
.bo-dialog .dialog-title {
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  left: 0;
  top: 0;
  font-size: 16px;
  margin: 0;
  font-weight: normal;
}
.bo-dialog .dialog-title-bor {
  border-bottom: 1px #eee solid;
  height: 40px;
  line-height: 40px;
}
.bo-dialog .dialog-close {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  top: 0;
  right: 0;
  cursor: pointer;
  border: 0;
  background: none;
  color: #999;
}
.bo-dialog .dialog-close:hover {
  color: #6699FF;
}
.bo-dialog .dialog-content {
  height: 100%;
  padding: 0 15px 0 15px;
  font-size: 15px;
}
.bo-dialog .dialog-content-pc {
  margin: 0 -15px 0 -15px;
}
.bo-dialog .dialog-buttons {
  position: absolute;
  border-top: 1px #eee solid;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bo-dialog .dialog-buttons .button-ok,
.bo-dialog .dialog-buttons .button-no,
.bo-dialog .dialog-buttons .button {
  background: none;
  border: 0;
  font-size: 16px;
}
.bo-dialog .dialog-buttons .button-ok {
  float: left;
  width: 50%;
  color: #6699FF;
}
.bo-dialog .dialog-buttons .button-no {
  float: left;
  width: 50%;
  border-right: 1px #eee solid;
}
.bo-dialog .dialog-buttons .button {
  width: 100%;
}
.bo-dialog .dialog-buttons-pc {
  border-top: 1px #eee solid;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: right;
  width: 100%;
  background: #ffffff;
}
.bo-dialog .dialog-buttons-pc button {
  min-width: 80px;
}
.fade-transition {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.fade-enter,
.fade-leave {
  opacity: 0;
}
.slideDown-transition {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.slideDown-enter,
.slideDown-leave {
  opacity: 0;
  -webkit-transform: translate3d(0, -40px, 0);
          transform: translate3d(0, -40px, 0);
}
.slideLeft-transition {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.slideLeft-enter,
.slideLeft-leave {
  opacity: 0;
  -webkit-transform: translate3d(40px, 0, 0);
          transform: translate3d(40px, 0, 0);
}
.slideRight-transition {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.slideRight-enter,
.slideRight-leave {
  opacity: 0;
  -webkit-transform: translate3d(-40px, 0, 0);
          transform: translate3d(-40px, 0, 0);
}
.slideUp-transition {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.slideUp-enter,
.slideUp-leave {
  opacity: 0;
  -webkit-transform: translate3d(0, 40px, 0);
          transform: translate3d(0, 40px, 0);
}
.slideContent-transition {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.slideContent-enter,
.slideContent-leave {
  opacity: 0;
  -webkit-transform: translate3d(150px, 0, 0);
          transform: translate3d(150px, 0, 0);
}
.slideContent-transition {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.scale-enter,
.scale-leave {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
}
.pageSlide-transition {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.pageSlide-enter {
  opacity: 0.4;
  -webkit-transform: translate3d(40px, 0, 0);
          transform: translate3d(40px, 0, 0);
}
.pageSlide-leave {
  display: none;
}
.product {
  position: relative;
  padding-left: 75px;
  min-height: 75px;
  cursor: pointer;
}
.product .pic {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  left: 0;
}
.product .name {
  font-size: 14px;
}
.product .intro {
  color: #999;
  padding-top: 4px;
  padding-bottom: 3px;
}
.product .price {
  padding: 0;
  color: #FF6633;
}
.product-dock {
  min-height: 31px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.product-dock .price {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #FF6633;
  font-size: 16px;
}
.product-dock .price span {
  font-size: 20px;
}
.product-shp {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px #eee solid;
}
.product-shp .pro-pic {
  padding: 0 10px;
  vertical-align: bottom;
}
.product-shp .pro-pic img {
  width: 60px;
  vertical-align: bottom;
}
.product-shp .pro-info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.product-shp .pro-info .pro-title {
  font-size: 14px;
  font-weight: normal;
}
.product-shp .pro-info .pro-dock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 0 0;
}
.product-shp:last-child {
  border-bottom: 0 !important;
}
.product3 {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.product3 .pro-pic {
  padding: 0 10px 0 0;
  vertical-align: bottom;
}
.product3 .pro-pic img {
  width: 60px;
  vertical-align: bottom;
}
.product3 .pro-info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.product3 .pro-info .pro-title {
  font-size: 15px;
  font-weight: normal;
}
.product3 .pro-info .pro-price {
  padding: 2px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.product3 .pro-info .pro-price .price {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #FF6633;
}
.product3 .pro-info .pro-price .old {
  color: #999;
  font-size: 13px;
}
.product3 .pro-info .pro-dock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0 0 0;
}
.product2 {
  padding: 10px;
  text-align: left;
}
.product2 .pic {
  overflow: hidden;
}
.product2 .pic img {
  width: 100%;
}
.product2 .name {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  height: 38px;
  overflow: hidden;
}
.product2 .intro {
  color: #999;
}
.product2 .price {
  font-size: 1.1rem;
  color: #c31525;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product2 .price .num {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.product2 .price .oldprice {
  color: #999;
  font-size: 13px;
  text-decoration: line-through;
}
.product2 .dock {
  padding-top: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.product2 .dock .dock-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.product2 .dock .dock-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#shop-name {
  font-size: 16px;
  padding: 15px 0;
  margin: 0 10px;
  border-bottom: 1px #eee solid;
}
.shop-dock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.shop-dock .text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.shop-dock .btn-sm {
  background: none;
  border: 0;
  padding: 0 10px;
  font-size: 16px;
  color: #999;
}
.shop-dock .btn {
  background: none;
  border: 0;
  padding: 0 15px;
  font-size: 22px;
  color: #6699FF;
}
.shp-dock {
  background: #f9f9f9;
  border-top: 1px #eee solid;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
}
.shp-dock #total {
  float: left;
  line-height: 33px;
  padding-left: 10px;
}
.shp-dock #total span {
  font-size: 16px;
}
.shp-dock #buy {
  float: right;
}
.info-item .name {
  font-weight: normal;
  font-size: 13px;
  color: #999;
}
.info-item .content {
  margin: 0;
  padding: 0;
  height: 33px;
  line-height: 33px;
}
.info-item .content .price {
  font-size: 16px;
  color: #dd514c;
}
.shop-info {
  position: relative;
  border-bottom: 1px #eee solid;
  margin: 0 15px;
}
.shop-info .shop-logo {
  position: absolute;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  border-radius: 30px;
}
.shop-info .shop-logo img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.shop-info .shop-name {
  padding-top: 35px;
  padding-bottom: 10px;
  font-size: 1rem;
  text-align: center;
}
