
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <!-- <a href="./index.html" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a> -->
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 80%;" src="../../../Public/image/banner/banner-logistics.jpeg">
      </div>
      <div class="abstract">
        <h3>跨境物流</h3>
        <p>鲸航跨境-物流是货达全球的生命通道</p>
      </div>
      <div class="introduce am-g">
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 提交物流需求</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 鲸航推荐物流方案</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 安排发货并结算</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="../../../Public/image/bar.png">亚马逊FBA头程物流
          </h3>
        </div>
        <form class="am-form">
          <fieldset>
            <div class="am-form-group">
              <label for="doc-ipt-email-1">公司名称 *</label>
              <input type="text" class="am-form-field am-input-sm" id="company_name" placeholder="请输入公司名称">
            </div>

            <div class="am-form-group">
              <label for="doc-ipt-email-1">发货联系人 *</label>
              <input type="text" class="am-form-field am-input-sm" id="company_name" placeholder="请输入发货联系人">
            </div>

            <div class="am-form-group">
              <label for="doc-ipt-email-1">发货联系人电话 *</label>
              <input type="text" class="am-form-field am-input-sm" id="company_name" placeholder="请输入发货联系人电话">
            </div>

            <div class="am-form-group">
              <label for="doc-ipt-email-1">所发产品 *</label>
              <input type="text" class="am-form-field am-input-sm" id="company_name" placeholder="请输入所发产品">
            </div>

            <div class="am-form-group">
              <label for="doc-ipt-email-1">发货重量（KG） *</label>
              <input type="text" class="am-form-field am-input-sm" id="company_name" placeholder="请输入发货重量">
            </div>

            <div class="am-form-group">
              <label for="doc-ipt-email-1">发货/取货地址 *</label>
              <input type="text" class="am-form-field am-input-sm" id="company_name" placeholder="请输入发货取货地址">
            </div>

            <div class="am-form-group">
              <label for="doc-ipt-email-1">发货目的亚马逊站点 *</label>
              <input type="text" class="am-form-field am-input-sm" id="company_name" placeholder="请输入发货目的亚马逊站点">
            </div>

            
            <button type="button" class="am-btn am-btn-secondary am-btn-block am-btn-sm">提交需求</button>
            
          </fieldset>
        </form>
        <ol class="pro-info">
          <h3>收费及服务说明</h3>
          <li>因为跨境物流价格是应季浮动的，所以无法给出实时报价</li>
          <li>提交物流需求后，鲸航平台会给您推荐物流方案及报价</li>
          <li>选择合适您的物流方案后，物流工作人员会与您联系对接</li>
          <li>安排发货并做结算</li>
          <li>通过鲸航跨境平台可以获取更多优质的物流服务</li>
        </ol>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="../../../Public/image/bar.png">海外仓
          </h3>
        </div>
        <form class="am-form">
          <fieldset>
            <div class="am-form-group">
              <label for="doc-ipt-email-1">选择国家 *</label>
              <input type="text" class="am-form-field am-input-sm" id="company_name" placeholder="请输入国家名称">
            </div>
            <button type="button" class="am-btn am-btn-secondary am-btn-block am-btn-sm">提交需求，等待工作人员联系</button>
          </fieldset>
        </form>
      </div>
    </section>

</body>
</html>