<!DOCTYPE html>
<html>
<head>
	<title></title>
	<include file="Public/header"/>
</head>
<body>
	<header data-am-widget="header" class="am-header am-header-default">
      	<div class="am-header-left am-header-nav">
          	<a href="#left-link" class="">
          	<!-- <i class="fa fa-angle-left fa-lg"></i> -->
          	</a>
      	</div>
      	<h1 class="am-header-title">
         鲸航跨境 - 导航
      	</h1>
      	<div class="am-header-right am-header-nav">
          	<a href="#right-link" class=""></a>
      	</div>
  	</header>
  	<section class="jhkj-contain">
  		<div class="banner tc">
  			<img style="width: 80%;" src="__PUBLIC__/image/banner/banner-home.jpeg">
  		</div>
  		<div class="pd2222">
        <h3 class="tc">跨境服务</h3>
  			<ol class="pro-info">
          <a href="../Shop/index.html"><li>开店通道</li></a>
          <a href="../Hhbb/index.html"><li>海航必备</li></a>
          <a href="../Logistics/index.html"><li>跨境物流</li></a>
          <a href="../Union/index.html"><li>鲸航联盟</li></a>
        </ol>
  		</div>
      <div class="cut-line-bold"></div>

      <div class="pd2222">
        <h3 class="tc">乘鲸起航</h3>
        <ol class="pro-info">
          <a href="../Member/index.html"><li>鲸航VIP</li></a>
          <a href="../ORDER/index.html"><li>航海里程</li></a>
          <a href="../Business/index.html"><li>商务合作</li></a>
        </ol>
      </div>
      <div class="cut-line-bold"></div>

      <div class="pd2222">
        <h3 class="tc">鲸航学院</h3>
        <ol class="pro-info">
          <a href="../School/amazon.html"><li>Amazon学院</li></a>
          <a href="../School/lazada.html"><li>Lazada学院</li></a>
          <a href="../School/shopee.html"><li>Shopee学院</li></a>
          <a href="../School/index.html"><li>其他跨境蓝海</li></a>
        </ol>
      </div>
  		<div class="cut-line-bold"></div>

  		<div class="tc">
  			<img style="width: 60%;" src="__PUBLIC__/image/logo.png">
  		</div>
  	</section>

</body>
</html>
<script type="text/javascript">
	console.log('{$name}')
</script>