<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="{:U('hhbb/index')}" class="">
            <i class="fa fa-chevron-left fa-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 100%;" src="__PUBLIC__/image/banner/banner-amazon.jpg">
      </div>
      <div class="pd2222">
        <form class="am-form">
          <fieldset>
            <div class="am-form-group">
              <label for="company">公司名称 *</label>
              <input type="text" class="am-form-field am-input-sm" id="company" placeholder="请输入公司名称">
            </div>

            <div class="am-form-group">
              <label for="username">联系人姓名 *</label>
              <input type="text" class="am-form-field am-input-sm" id="username" placeholder="请输入联系人姓名">
            </div>

            <div class="am-form-group">
              <label for="phone">联系人电话 *</label>
              <input type="text" class="am-form-field am-input-sm" id="phone" placeholder="请输入联系人电话">
            </div>

            <div class="am-form-group">
              <label for="email">联系人邮箱 *</label>
              <input type="email" class="am-form-field am-input-sm" id="email" placeholder="请输入联系人邮箱">
            </div>

            <div class="am-form-group">
              <label for="province">公司所在省份 *</label>
              <input type="text" class="am-form-field am-input-sm" id="province" placeholder="请输入公司所在省份">
            </div>

            <div class="am-form-group">
              <label for="product">主营产品 *</label>
              <input type="text" class="am-form-field am-input-sm" id="product" placeholder="请输入公司主营产品">
            </div>

            <div class="am-form-group">
              <label for="com_property">您所在公司的性质</label>
              <select id="com_property">
                <option value="-1">请选择</option>
                <option value="自有品牌">自有品牌</option>
                <option value="自有工厂">自有工厂</option>
                <option value="经销商">经销商</option>
                <option value="个人">个人</option>
              </select>
              <!-- <span class="am-form-caret"></span> -->
            </div>

            <div class="am-form-group">
              <label for="year_sell">您的年销售额</label>
              <input type="text" class="am-form-field am-input-sm" id="year_sell" placeholder="请输入您的年销售额">
            </div>

            <div class="am-form-group">
              <label for="has_shop">您是否已在亚马逊海外站开店</label>
              <select id="has_shop">
                <option value="-1">请选择</option>
                <option value="0">是</option>
                <option value="1">否</option>
              </select>
            </div>
            
            <div class="am-form-group">
              <label for="purpose_site">您意向开通的站点</label>
              <select id="purpose_site">
                <option value="-1">请选择</option>
                <option value="北美站">北美站</option>
                <option value="欧洲站">欧洲站</option>
                <option value="日本站">日本站</option>
              </select>
            </div>

            <div class="am-form-group">
              <label for="web_site">您的公司网址或网店地址（非必填）</label>
              <input type="text" class="am-form-field am-input-sm" id="web_site" placeholder="请输入您的公司网址或网店地址">
            </div>

            <div class="am-form-group">
              <label for="interet">您对哪项鲸航跨境服务感兴趣（方便我们为您定制服务）</label>
              <label class="am-checkbox">
                <input type="checkbox" value="公司注册">公司注册
              </label>
              <label class="am-checkbox">
                <input type="checkbox" value="海外商标">海外商标
              </label>
              <label class="am-checkbox">
                <input type="checkbox" value="亚马逊线上实操培训">亚马逊线上实操培训
              </label>
              <label class="am-checkbox">
                <input type="checkbox" value="亚马逊线下高阶培训">亚马逊线下高阶培训
              </label>
              <label class="am-checkbox">
                <input type="checkbox" value="跨境物流">跨境物流
              </label>
              <label class="am-checkbox">
                <input type="checkbox" value="产品图片拍摄及翻译服务">产品图片拍摄及翻译服务
              </label>
              <label class="am-checkbox">
                <input type="checkbox" value="跨境收款工具">跨境收款工具
              </label>
              <label class="am-checkbox">
                <input type="checkbox" value="海外建站">海外建站
              </label>
              <label class="am-checkbox">
                <input type="checkbox" value="运营人才输送">运营人才输送
              </label>
            </div>

            <button id="submit" type="button" class="am-btn am-btn-secondary am-btn-block am-btn-sm">提交</button>
            
          </fieldset>
        </form>
      </div>
      <div class="tc">
        <img style="width: 60%;" src="__PUBLIC__/image/logo.png">
      </div>
    </section>
<include file="Public/alert"/>
</body>
</html>
<script type="text/javascript">
$('#submit').click(function(){
  var d = {};
  d.company = $('#company').val();
  d.username = $('#username').val();
  d.phone = $('#phone').val();
  d.email = $('#email').val();
  d.province = $('#province').val();
  d.product = $('#product').val();
  d.com_property = $('#com_property').val();
  d.year_sell = $('#year_sell').val();
  d.has_shop = $('#has_shop').val();
  d.purpose_site = $('#purpose_site').val();
  d.web_site = $('#web_site').val();

  var str=""; 
  $(":checkbox:checked").each(function(){ 
    if(str == ""){
      str += $(this).val();
    }else{
      str += ','+$(this).val()
    }
  }) 

  d.interet = str;
  console.log(d);

  if(d.company == '' || d.username == '' || d.phone == '' || d.product == '' || d.email == '' || d.province == ''){
    $('#alertMsg').text('请填写带 * 信息');
    $('#myAlert').modal('toggle');
    return false;
  }
  $.ajax({  
    url: Api+'/shop/submitAmazonReg',// 跳转到 action  
    data:d,
    type:'post',   
    success:function(data) {  
      if(data.error == 0 ){  
        console.log(data);
      }
      $('#alertMsg').text(data.msg);
      $('#myAlert').modal('toggle');
     },  
     error:function(data) {  
       console.log(data)
     }  
  }); 
})


</script>