<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="#left-link" class="">
            <!-- <i class="fa fa-angle-left fa-lg"></i> -->
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 80%;" src="../../../Public/image/banner/banner-shop.jpeg">
      </div>
      <div class="abstract">
        <h3>账户注册</h3>
        <p>鲸航跨境-跨境电商平台专属注册通道</p>
      </div>
      <div class="introduce am-g">
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 提交注册信息</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 等待注册邮件</div>
        <div class="am-u-sm-4"><i class="fa fa-circle"></i> 提交材料完成注册</div>
      </div>
      <div class="cut-line-bold"></div>
      <div class="pd2222">
        <div class="pro-title">
          <h3>
            <img class="pro-bar" src="../../../Public/image/bar.png">亚马逊“全球开店”招商经理注册通道
            <!-- <label class="am-checkbox">
              <input type="checkbox" value="" data-am-ucheck>
            </label> -->
          </h3>
        </div>
        <!-- <div class="pro-price">
          ￥100
        </div> -->
        <ol class="pro-info">
          <li>点击下方“全球开店”按钮提交申请信息</li>
          <li>请确保所填信息真实有效</li>
          <li>建议使用开店所用的公司资料申请</li>
          <li>请勿用同一个公司多次登记开店申请</li>
          <li>同一套资料同一个站点只能申请开通一个店铺</li>
        </ol>
      </div>
      <a href="{:U('Shop/amazonReg')}" class="bottom-btn">
        “全球开店”申请入口
      </a>
    </section>

</body>
</html>