<!DOCTYPE html>
<html>
<head>
  <title></title>
  <include file="Public/header"/>
</head>
<body>
  <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="#left-link" class="">
            <!-- <i class="fa fa-angle-left fa-lg"></i> -->
            </a>
        </div>
        <h1 class="am-header-title">
         鲸航跨境 - 专注跨境服务
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <section class="jhkj-contain">
      <div class="banner tc">
        <img style="width: 80%;" src="__PUBLIC__/image/banner/banner-mine.jpeg">
      </div>
      <div class="abstract">
        <h3>航海里程</h3>
        <p>记录你的跨境电商航行里程</p>
      </div>
      <div class="pd2222 order-container">
        <p class="tc">暂无记录</p>
      </div>
      <div class="cut-line-bold"></div>
      <div class="tc">
        <img style="width: 60%;" src="__PUBLIC__/image/logo.png">
      </div>
    </section>

</body>
</html>